/* ==UserStyle==
@name         Dark Discord
@namespace    gitlab.com/vednoc/dark-discord
@version      0.6.0
@description  Customizable dark theme for Discord.
@author       vednoc
@homepageURL  https://gitlab.com/vednoc/dark-discord
@supportURL   https://gitlab.com/vednoc/dark-discord/issues
@updateURL    https://gitlab.com/vednoc/dark-discord/raw/master/discord.user.styl
@preprocessor stylus

@var checkbox min_guilds "Minimize width of guild area" 0
@var checkbox smol_guild "Minimize height of guild icons" 0
@var checkbox mid_guilds "WIP: Smaller icon size for guild icons" 0
@var checkbox paddingless_cozy "Remove padding for cozy messages" 0
@var checkbox compact_cozy "Compact mode for cozy messages" 0
@var checkbox scrollbars_chromium "Disable scrollbars in Chromium" 0
@var checkbox scrollbars_firefox "Disable scrollbars in Firefox" 0
@var checkbox hideCarousel "Hide carousel from activity page" 0
@var checkbox hideNews "Hide news from activity page" 0
@var text input_height "Input bar maximum height" 140px
@var text b_radius "Custom border radius" 5px

@var color dark    "Dark color.   " #2e2e2e
@var color darker  "Darker color. " #212121
@var color light   "Light color.  " #d1d1d1
@var color lighter "Lighter color." #e9e9e9
@var color icon    "Icon color.   " #e1e1e1
@var color accent  "Accent color. " #7289da
@var color yellow  "Yellow color. " #f0c674
@var color orange  "Orange color. " #de935f
@var color red     "Red color.    " #a54242
@var color magenta "Magenta color." #b294bb
@var color violet  "Violet color. " #85678f
@var color blue    "Blue color.   " #5f819d
@var color cyan    "Cyan color.   " #5e8d87
@var color green   "Green color.  " #8c9440
@var color shadow  "Shadow color. " #00000012

==/UserStyle== */

@-moz-document domain("discordapp.com") {
  :root {
    --note    : "Dark-Discord v0.6.0";
    --dark    : dark;
    --darker  : darker;
    --light   : light;
    --lighter : lighter;
    --accent  : accent;
    --icon    : icon;
    --shadow  : shadow;
    --bshadow : 0 2px 3px 0 var(--shadow);
    --yellow  : yellow;
    --orange  : orange;
    --red     : red;
    --magenta : magenta;
    --violet  : violet;
    --blue    : blue;
    --cyan    : cyan;
    --green   : green;
    --t       : transparent !important;
    --radius  : b_radius;
    --textarea: input_height;
  }

  // * Use stylus-lang variables with CSS variables.
  // TODO try to make this more compact.
  $dark    = var(--dark);
  $darker  = var(--darker);
  $light   = var(--light);
  $lighter = var(--lighter);
  $accent  = var(--accent);
  $icon    = var(--icon);
  $shadow  = var(--shadow);
  $bshadow = var(--box-shadow);
  $yellow  = var(--yellow);
  $orange  = var(--orange);
  $red     = var(--red);
  $magenta = var(--magenta);
  $violet  = var(--violet);
  $blue    = var(--blue);
  $cyan    = var(--cyan);
  $green   = var(--green);
  $t       = var(--t);
  $radius  = var(--radius);

  // * Color mixin.
  // ? All colors -> colors: $light, $darker, $dark;
  // ? Only background-color -> colors: 0, 0, $dark;
  colors(x, y, z) {
    if x is a 'call' { color: x !important; }
    if y is a 'call' { border-color: y !important; }
    if z is a 'call' { background-color: z !important; }
  }

  // * Icons.
  svg[class*="icon"] path[fill="currentColor"],
  svg[class*="icon"] g[fill="currentColor"] > path,
  svg[class*="icon"] path[fill^="#FFF"] {
    fill: $light !important;
  }
  svg[class*="button"] path[stroke="#FFF"] {
    stroke: $light !important;
  }

  // * Userstyle version.
  [class*="userSettingsAccount"] > h2::after {
    content: " | Theme: " var(--note);
    text-transform: capitalize;
  }

  // * Global reset/overwrites.
  ::placeholder, [class*="emptyPlaceholder"] { colors: $lighter, 0, 0; }

  // * No channel. (=
  [class*="noChannel-"] { colors: 0, 0, $dark; }

  // * Modal backdrop.
  [class^="backdrop"] {
    opacity: 0.80 !important;
    colors: 0, 0, $dark;
  }

  // * Chromium scrollbars.
  if not scrollbars_chromium {
    [class^="chat"], [class*="friends"] {
      ::-webkit-scrollbar {
        &-track { colors: 0, 0, $dark; }
        &-track-piece { colors: 0, $dark, $shadow; }
        &-thumb { colors: 0, $dark, $darker; }
      }
    }
    [class*="emojiPicker-"] {
      ::-webkit-scrollbar {
        &-track { colors: 0, 0, $dark; }
        &-track-piece { colors: 0, 0, 0; }
        &-thumb { colors: 0, $darker, $accent; }
      }
    }
  }

  // * Firefox scrollbar polyfill.
  if not scrollbars_firefox {
    // ? Activity/Store/Friends/Chat.
    [class*="feed-"] +, [class*="Store-"] +,
    [class*="friendsTableBody-"] +,
    [class*="messages-"] + {
      [class^="scrollbar-"] {
        colors: 0, $t, $dark;
        [class^="track"] { colors: 0, $dark, $darker; }
        [class^="thumb"] { colors: 0, $dark, $accent; }
        [class^="pad"] { colors: 0, 0, $dark; }
      }
    }
    // ? Search/Pinned/Channels.
    [class*="searchResultsWrap-"] > div:last-child,
    [class*="messagesPopout-"] +,
    [class*="scrollerFade-"] > {
      [class*="scrollbar-"] {
        colors: 0, $t, $darker;
        [class^="track"] { colors: 0, $darker, $dark; }
        [class^="thumb"] { colors: 0, $darker, $accent; }
        [class^="pad"] { colors: 0, 0, $darker; }
      }
    }
  }

  // * Dirty Firefox sidebar(s) hacks.
  @supports (-moz-user-select: none) {
    // .scrollerWrap-2lJEkd { margin-right: -24px !important; }
    [class*="directionColumn"][class*="firefoxFixScrollFlex"] { overflow: hidden; }
    // ? Fixes input element in *fox-based browsers.
    [class*="channelTextArea-"] textarea[class*="textArea-"] {
      margin: 0; padding: 0 10px;
      // ? Center input text on the first row of text.
      &[style*="height: auto"], &[style*="height: 21px"] {
        padding-top: 10px;
        margin: 1px 0 -3px;
      }
      // ? Reset padding whenever there are two or more rows of text.
      &:not([style*="height: auto"]) { padding: 10px; }
    }
  }

  // * Modals.
  [class*="modal-"] {
    &[class*="sizeSmall-"] {
      colors: 0, 0, $darker;
      box-shadow: 0 0 0 1px $shadow, 0 2px 10px 0 $shadow;
    }
    [class*="footer-"] {
      colors: 0, 0, $shadow;
      box-shadow: inset 0 1px 0 0 $shadow;
    }
    // Highlighted friends.
    [class*="friend-"] { colors: $light, 0, 0; }
    [class*="friendSelected-"] { colors: 0, 0, $dark; }
    .search-bar {
      colors: 0, 0, $t;
      &-inner { colors: 0, $shadow, $dark; }
      &-tag { colors: $lighter, 0, $darker; }
      input { colors: $light, 0, 0; }
    }
    // Text color.
    [class*="defaultColor"] { colors: $light, 0, 0; }
    [class*="Header"], [class*="header-"] { colors: $lighter, 0, 0; }
    // Spotify invitation.
    [class*="partyStatus"] {
      colors: $lighter, 0, 0;
      [class*="textLink"] { colors: $light, 0, 0; }
    }
  }

  // * Upload modal.
  [class*="uploadModal-"] {
    colors: 0, 0, $dark;
    box-shadow: inset 0 0 0 2px $darker;
    [class*="inner-"] {
      colors: $lighter, $darker, 0;
      // Different file-types.
      [class*="file-"] [class*="icon-"] {
        &[class*="image-"] {
          colors: 0, $darker, $dark;
          box-shadow: 0 2px 8px 0 $shadow !important;
        }
        &[class*="unknown-"], &[class*="code-"],
        &[class*="document-"], &[class*="video-"] {
          filter: invert(0.8) hue-rotate(180deg);
        }
        // File title.
        + [class*="description"] { colors: $light, 0, 0; }
      }
    }
    // ? Controls.
    [class*="footer-"] {
      colors: 0, 0, $darker;
      box-shadow: inset 0 1px 0 0 $darker;
      // Cancel button.
      [class*="lookLink-"] {
        colors: $lighter, 0, 0;
        &:hover [class*="contents-"] {
          background-image: none;
          box-shadow: inset 0 -1px 0 0 $accent;
        }
      }
      // Upload button.
      [class*="lookInverted-"] {
        transition: 0.2s ease;
        colors: $lighter, 0, $dark;
        &:hover { filter: opacity(0.8); }
      }
    }
  }

  // * Channel info modal.
  [class*="inner-"] > [class*="modal-"][class*="size-"] {
    colors: $light, 0, $darker;
    box-shadow: 0 2px 10px 0 $shadow, 0 0 0 1px $dark;
    // Close icon.
    [class*="close-"] { color: $lighter, 0, 0; }
    // Text color.
    [class*="content-"] > [class*="primary-"] { color: $lighter, 0, 0; }
  }

  // * User modal.
  [class^="modal-"] > div > [class*="root"] {
    [class*="header-"] > [class*="Info"] {
      [class*="username"] { colors: $light, 0, 0; }
      [class*="discriminator"] { colors: $lighter, 0, 0; }
      [class*="botTag"] { colors: $light, 0, $accent; }
      // Send friend request button.
      & + [class*="lookInverted"] {
        colors: $green, 0, $dark;
        box-shadow: inset 0 0 0 1px $shadow;
        transition: 0.2s ease-in-out;
        &:hover { colors: $accent, 0, 0; }
      }
    }
    // * Activities.
    [class*="Spotify-"] {
      colors: 0, 0, $darker;
      [class^="headerFill-"] {
        border-top: 1px solid;
        colors: 0, $shadow, $t;
      }
      // Text colors.
      [class*="content-"], [class*="TextNormal-"] { colors: $lighter, 0, 0; }
      [class*="weight"] { colors: $lighter, 0, 0; }
      [class*="activityName-"] { colors: $light, 0, 0; }
      // Progress bar.
      [class*="bar-"] {
        colors: 0, 0, $dark;
        [class*="barInner-"] { colors: 0, 0, $accent; }
      }
    }
    [class*="Playing-"] {
      colors: 0, 0, $darker;
      [class^="headerFill-"] {
        border-top: 1px solid;
        colors: 0, $shadow, $t;
      }
    }
    [class*="topSectionNormal-"] {
      colors: 0, 0, $darker;
    }
    // * Tab bar.
    [class^="tabBar"] {
      colors: 0, $shadow, $t;
      [class*="tabBarItem"] { colors: $lighter, 0, 0; }
      [class*="tabBarItem"]:hover { colors: 0, $accent, 0; }
      [class*="selected"] { colors: $light, $accent, 0; }
    }
    // * Body.
    > [class*="body-"] {
      border-top: 1px solid;
      colors: 0, $shadow, $darker;
      // Text color.
      [class*="Info"] { colors: $lighter, 0, 0; }
      [class*="note"] > textarea {
        colors: $light, 0, 0;
        &:focus { colors: 0, 0, $dark; }
      }
    }
    // * Connected accounts.
    [class*="userInfoSection"] {
      colors: 0, $shadow, 0;
      [class*="Accounts"] > [class*="Account"] {
        colors: 0, $shadow, $dark;
        [class*="AccountName"] { colors: $lighter, 0, 0; }
      }
    }
  }

  // * Popout menus.
  // ? For example: Spotify invitation/Upload a File/etc.
  [class*="popouts-"] [class*="attachPopout-"] {
    colors: $light, 0, $darker;
    // Text color.
    [class*="RowText"] { colors: $lighter, 0, 0; }
    // On hover event.
    > [class*="attachPopoutRow"]:hover {
      colors: $lighter, 0, $shadow;
      [class*="RowText"] { colors: $light, 0, 0; }
    }
  }

  // * User popout.
  [class*="userPopout"] {
    border-radius: $radius;
    colors: 0, 0, $darker;
    > [class^="headerNormal-"] {
      colors: $light, 0, $darker;
      // Username/discriminator colors.
      [class*="Name"] { colors: $light, 0, 0; }
      [class*="Tag"] { colors: $lighter, 0, 0; }
      [class*="botTag"] { colors: $light, 0, $accent; }
    }
    // * Different modes.
    // TODO Should we include different colors?
    [class*="Spotify"] { colors: 0, 0, $darker; }
    [class*="headerPlaying"] { colors: 0, 0, $darker; }
    [class*="activityUserPopout"] {
      border-top: 1px solid;
      colors: 0, $shadow, $t;
    }
    // * Body.
    > [class^="body-"] {
      border-top: 1px solid;
      colors: $lighter, $shadow, $t;
      // Headers.
      [class*="bodyTitle"] { colors: $lighter, 0, 0; }
      // Add role button.
      [class*="actionButton"] { colors: $lighter, $dark, $darker; }
      // Note section.
      [class*="note"] > textarea {
        colors: $lighter, 0, 0;
        &:focus { colors: $light, 0, $dark; }
      }
    }
    // * Footer.
    > [class^="footer-"] {
      colors: $light, $shadow, $t;
      // Wumpus!
      [class*="wumpusShown-"] [class*="wumpusTooltip-"] {
        colors: $lighter, 0, $dark;
        &::after { border-color: $t $dark $t $t; }
      }
      // Tip color.
      [class*="tip"] { colors: $lighter, 0, 0; }
      // Message $user.
      [class*="quickMessage"] { colors: $light, $shadow, $dark; }
    }
  }

  // * User controls.
  [class^="channels"][class*="vertical"] > div:last-child {
    colors: $lighter, 0, $t;
    [class^="username"] { colors: $light, 0, 0; }
    [class*="discriminator"] { opacity: 0.6; colors: $lighter, 0, 0; }
  }

  // * User status.
  [class*="online-"] { colors: 0, $darker, $green; }
  [class*="idle-"] { colors: 0, $darker, $orange; }
  [class*="dnd-"] { colors: 0, $darker, $red; }
  [class*="offline-"] { colors: 0, $darker, 0; }

  // * Text status.
  [class*="statusGreen"], [style$="(67\, 181\, 129);"] { colors: $green, 0, 0; }
  [class*="statusOrange"], [style$="(250\, 166\, 26);"] { colors: $orange, 0, 0; }
  [class*="statusRed"], [style$="(240\, 71\, 71);"] { colors: $red, 0, 0; }
  [class*="statusYellow"] { colors: $yellow, 0, 0; }
  [class*="titleChecked"], [class*="descChecked"] { colors: $light, 0, 0; }

  // * Loading page.
  [class^="app"] > [style^="opacity"] {
    // Background.
    &[class*="fixClipping"] { colors: 0, 0, $dark; }
    // Text colors.
    [class^="quote-"] { colors: $light, 0, 0; }
    [class^="status-"] { colors: $lighter, 0, 0; }
    [class*="problems-"] {
      [class*="Text"] { colors: $lighter, 0, 0; }
      [class*="anchor"] { colors: $accent, 0, 0; }
    }
  }

  // * Skeleton/crashed page.
  [class*="appMount-"] > [class*="themeDark-"] {
    colors: 0, 0, $dark;
    [class*="text-"] > h4 { colors: $light, 0, 0; }
    [class*="note-"] { colors: $lighter, 0, 0; }
  }

  // ? All usernames except the ones that have custom colors.
  [class^="username"]:not([style^="color"]) { colors: $lighter, 0, 0; }
  // ? Default no-role color in right sidebar.
  [class^="nameTag"]:not([style^="color"]) { colors: $lighter, 0, 0; }
  // ? Inherit custom color in right sidebar.
  [class*="nameTag"] > [class*="username"] { color: inherit !important; }

  // * Guilds.
  [class^="guildsWrapper"] {
    colors: 0, 0, $dark;
    [class^="friendsOnline"], [class^="download"] { colors: $lighter, 0, 0; }
    [class*="Separator"]::after { colors: 0, 0, $darker; }
    // * Home icon above guilds.
    [class^="guildInner"][draggable="false"] {
      colors: 0, 0, $darker;
      transition-duration: 0.15s !important;
      &[class*="background"] [class*="noIcon"] { colors: $light, 0, 0; }
      &[style$="rgb(114\, 137\, 218);"] { colors: 0, 0, $accent; }
    }
    if min_guilds {
      transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
      transition-delay: 0.5s;
      max-width: 10px;
      &:hover { max-width: 70px; }
      [class*="guild-"][class*="unread"]::before { colors: 0, 0, $lighter; }
    }
    if smol_guild {
      $height = 30px;
      [class*="guild-"] {
        max-height: $height;
        // Set guild border-radius and background-color.
        [class*="guildInner"], [class*="avatar-"] {
          height: $height;
          border-radius: 15px !important;
          colors: 0, 0, $darker;
          a { height: $height; }
          // Guild image element.
          a [class*="icon"] {
            line-height: $height;
            height: $height;
            background-size: cover;
          }
        }
        // ? Home icon.
        svg[class*="homeIcon-"] {
          height: 50px;
          margin-top: -10px;
          padding: 10px !important;
        }
      }
      [class*="guildsAdd"] {
        line-height: $height;
        border-radius: $height;
      }
    }
  }

  // * Search results.
  [class*="popout-"] > [class*="container-"] {
    colors: $red, 0, $dark;
    // * "Search for" selector.
    > [class*="queryContainer-"] {
      colors: $light, $dark, $darker;
      // Text colors.
      [class*="queryText-"] { colors: $lighter, 0, 0; }
      [class*="queryText-"] strong { colors: $light, 0, 0; }
      // Shortcut button.
      [class*="queryShortcut-"] [class*="keybindShortcut-"] span {
        colors: $light, $dark, $darker;
        box-shadow: inset 0 -4px 0 $accent;
      }
    }
    // Text color.
    [class*="header-"] { colors: $lighter, 0, 0; }
    [class*="searchLearnMore-"] [class*="anchor-"],
    [class*="plusIcon-"] { colors: $lighter, 0, 0; }
    // * Items.
    [class*="option"] {
      // Remove gradient.
      &::after { display: none; }
      // On event.
      &:hover, &[class*="selected-"] { colors: 0, 0, $darker; }
      // Text color.
      > strong { colors: $accent, 0, 0; }
      [class*="filter-"] { colors: $light, 0, 0; }
      [class*="nonText-"] { colors: $lighter, 0, 0; }
      [class*="displayedNick-"] { colors: $light, 0, 0; }
      [class*="answer-"], [class*="displayUsername-"] {
        opacity: 0.6;
        colors: $lighter, 0, 0;
      }
      [class*="resultChannel-"] {
        strong { colors: $accent, 0, 0; }
        span, svg { colors: $lighter, 0, 0; }
      }
    }
  }

  // * Calendar.
  [class*="datePicker-"] > div > div {
    colors: $lighter, 0, $dark;
    [class*="__navigation"] { colors: 0, $darker, 0; }
    // * Month/year header.
    [class*="__header"] {
      colors: $lighter, 0, $t;
      [class*="__current-month"] { colors: $light, $darker, 0; }
      [class*="__day-name"] { colors: $lighter, 0, 0; }
    }
    // * Days.
    [aria-label^="day-"] {
      colors: $light, $darker, $dark;
      // ? Select *only* days that are in the past.
      &:hover:not([class*="disabled"]) { colors: $light, 0, $accent; }
    }
    [class*="__day--outside-month"], [class*="__day--disabled"] {
      opacity: 0.6;
      colors: $lighter, $darker, $darker;
    }
    [class*="__day--today"] {
      colors: $light, 0, 0;
      &::after { colors: 0, 0, $accent; }
    }
  }
  // * Hints.
  [class*="datePicker-"] [class*="datePickerHint-"] {
    margin: 0;
    padding: 20px;
    colors: 0, $dark, $darker;
    span { colors: $lighter, 0, 0; }
    [class*="hintValue-"] {
      padding: 0 4px;
      colors: $light, 0, $accent;
    }  
  }

  // * Main area.
  [class*="base"] {
    // ? Make guild channels have transparent background.
    > [class*="spacer"] > [class*="channels"] > [class*="noWrap"] {
      colors: 0, 0, $t;
    }

    // * Friends list.
    [class*="friendsTable-"] {
      margin-top: 0px; // TODO Remove when fixed on upstream.
      colors: 0, 0, $dark;
      [class*="friendsTableHeader-"] {
        colors: 0, $darker, 0;
        [class*="friendsColumn-"] { colors: $lighter, 0, 0; }
        [class*="ColumnSeparator-"] { colors: 0, 0, $darker; }
      }
      [class*="friendsTableBody-"] {
        colors: 0, $shadow, 0;
        [class*="friendsColumn-"] { colors: $lighter, 0, 0; }
        [class*="statusText-"] { colors: $light, 0, 0; }
        [class*="noIcon-"] { colors: $light, 0, $darker; }
        [class*="friendsRow-"]:hover {
          colors: 0, 0, $darker;
          box-shadow: 0 2px 4px 0 $shadow !important;
        }
      }
    }

    // ? Header in friends area.
    [class*="headerBar-"] {
      colors: 0, 0, $dark;
      box-shadow: 0 1px 0 0 $darker !important;
      [class*="tabBar-"] {
        colors: 0, $shadow, $t;
        [class*="itemDefault-"]:not([class*="primary-"]) {
          colors: $lighter, 0, 0;
          transition: 0.2s ease;
          &:hover { colors: $light, 0, $darker; }
        }
        [class*="selected-"] { colors: $accent, 0, $t; }
        [class*="primary-"] { colors: 0, 0, $accent; }
      }
    }

    // ? Global channels.
    [class*="channels"] {
      colors: 0, 0, $darker;

      // Title and stuff.
      [class*="container-"] > [class*="header-"] {
        colors: $light, 0, 0;
        box-shadow: 0 1px 0 0 $shadow;
      }

      // Notices.
      [class*="channelNotice-"] {
        colors: 0, 0, $darker;
        box-shadow: inset 0 -1px 0 0 $shadow;
        [class*="message-"] {
          colors: $lighter, 0, 0;
          [class*="btn-"] { colors: $lighter, $dark, $darker; }
        }
      }

      // Selected channel.
      [class*="contentSelectedText-"], [class*="contentHoveredText-"] {
        colors: 0, 0, $dark;
        [class*="Text-"] { colors: $light, 0, 0; }
      }
      // Channel containers.
      [class*="containerDefault-"] {
        // Defaults.
        [class*="nameDefault-"] { colors: $light, 0, 0; }
        [class*="contentDefaultText"] > div {
          opacity: 0.6;
          colors: $lighter, 0, 0;
        }
        // Unread messages.
        [class*="unread-"] { colors: 0, 0, $accent; }
        [class*="contentUnreadText"] > div {
          colors: $accent, 0, 0;
        }
        // Collapsed containers.
        [class*="Collapsed-"] {
          colors: $lighter, 0, 0;
          &:hover { colors: $light, 0, 0; }
        }
        // Muted containers.
        [class*="Muted-"] {
          opacity: 0.6;
          colors: $lighter, 0, 0;
        }
        // Hovered containers.
        [class*="nameHovered-"] { colors: $light, 0, 0; }
      }
    }

    // * Guild members list.
    [class*="membersWrap-"] [class*="members-"] {
      colors: 0, 0, $darker;
      [class*="membersGroup-"] { opacity: 0.8; colors: $light, 0, 0; }
      [class*="activityText-"] { colors: $lighter, 0, 0; }
      [class*="botTagRegular"] { colors: $light, 0, $accent; }
      [class*="member-"]:hover [class*="content-"] { colors: 0, 0, $dark; }
    }

    // * Search bar.
    [class*="privateChannels-"] > [class*="searchBar-"] {
      box-shadow: 0 1px 0 0 $shadow;
      // Wrapper element.
      [class*="searchBarComponent-"] { colors: $t, $t, $t; }
      // The actual search bar.
      [class*="searchBarInner-"] {
        border-radius: $radius;
        colors: $lighter, $dark, $dark;
        box-shadow: 0 2px 1px 0 $shadow;
      }
    }

    // * Chat section.
    [class*="chat"] {
      colors: 0, 0, $dark;

      // ? Channel title-bar.
      > [class^="titleWrapper"] > [class*="title"] {
        colors: 0, 0, $darker;
        box-shadow: 0 1px 0 0 $shadow !important;
        [class*="channelName-"] { colors: $light, 0, 0; }
        [class*="channelIcon-"], [class*="topic-"] { colors: $lighter, 0, 0; }
        [class*="topic-"]::before { colors: 0, 0, $dark; }
      }

      // ? Title-bar search messages.
      [class*="search-"] [class*="searchBar-"] {
        colors: $lighter, 0, $dark;
        // Input text color.
        [class*="DraftEditor-"] {
          colors: $lighter, 0, 0;
        }
        // Blocks.
        [class*="searchFilter-"], [class*="searchAnswer"] {
          colors: $light, 0, $darker;
        }
      }

      // ? Group DM header.
      [class*="groupDM-"] [class*="input-"] {
        colors: $light, 0, 0;
        input[class*="input-"]:focus { colors: 0, 0, $dark; }
      }

      // ? Welcome section.
      [class*="welcomeMessage-"] {
        h1, strong { colors: $light, 0, 0; }
        p { colors: $lighter, 0, 0; }
        a { colors: $accent, 0, 0; }
      }

      // ? New messages.
      [class*="newMessagesBar-"] {
        background-image: linear-gradient(90deg, $t -80%, $accent);
        colors: $lighter, 0, $t;
        button { colors: $lighter, 0, 0; }
      }

      // * Spinners.
      [class*="spinner-"] {
        // Loading messages.
        [class*="wanderingCubesItem-"] { colors: 0, 0, $accent; }
        // Someone is typing.
        [class*="pulsingEllipsisItem-"] { colors: 0, 0, $light; }
      }

      // ? Transparentize extra elements.
      // ! Careful with this; might need to be removed.
      > div {
        colors: 0, 0, $t;
        // ? Messages/input form container.
        [class^="messagesWrapper"] {
          colors: 0, 0, $t;
          & + form { colors: 0, 0, $t; }
        }
        // ? Group welcome message.
        [class*="messages-"] [class*="default-"] h1 {
          colors: $lighter, 0, 0;
          strong { colors: $light, 0, 0; }
        }
        // ? Guild/group user greeters.
        [class*="container-"] > [class*="content-"] {
          colors: $lighter, 0, 0;
          a {
            font-weight: bold;
            colors: $light, 0, 0;
          }
          time {
            opacity: 0.6;
            colors: $lighter, 0, 0;
          }
        }
      }

      // * Messages.
      [class*="message-"] {
        // ? Style all but the ones that don't have OnHover class.
        [class*="timestampCompact"]:not([class*="OnHover"]) {
          opacity: 0.5;
          colors: $lighter, 0, 0;
        }
        // ? Apply styles regardless of class on every hover event.
        &:hover [class*="timestampCompact"] {
          opacity: 1;
          colors: $light, 0, 0;
        }
        [class*="timestampCozy-"] {
          opacity: 0.5;
          colors: $light, 0, 0;
        }
        [class*="edited-"] { colors: $lighter, 0, 0; }
        [class^="markup-"] {
          colors: $light, 0, 0;
          a { colors: $accent, 0, 0; }
        }
        [class*="operations"] {
          colors: $lighter, 0, 0;
          a { colors: $light, 0, 0; }
        }

        // ? Message separators; sibling of message-* selectors.
        & + [class*="dividerEnabled"] { opacity: 0.8; colors: 0, $darker, 0; }
        [class*="buttonContainer"]:hover + [class^="markup"] { background: $darker !important; }
        [class*="operations"] {
          colors: $light, 0, 0;
          a { colors: $accent, 0, 0; }
        }
      }

      // ? Message dividers.
      [class*="divider-"] > [class*="dividerContent-"] {
        colors: $lighter, 0, 0;
        &::before, &::after { colors: 0, $darker, 0; }
      }
      [class*="dividerRed-"] [class*="Content-"] {
        colors: $red, 0, 0;
        &::before, &::after { colors: 0, $red, 0; }
      }

      // * Invite embed.
      [class*="wrapper-"] {
        colors: 0, $darker, $darker;
        [class*="title-"], [class*="guildDetail-"] { colors: $lighter, 0, 0; }
        [class*="guildName-"] { colors: $light, 0, 0; }
        [class*="statusOnline-"] { colors: 0, 0, $green; }
        [class*="statusOffline-"] { colors: 0, 0, $dark; }
        [class*="lookOutlined-"] { colors: 0, $dark, 0; }
      }

      // * Typing section.
      [class^="typing"] {
        colors: $light, 0, $t;
        [class^="text"], [class^="cooldownWrapper"] { colors: $lighter, 0, 0; }
        [class^="text"] strong { colors: $light, 0, 0; }
      }

      // * Voice/video calls.
      [class^="video"] {
        colors: 0, 0, $dark;
        box-shadow: 0 8px 16px 0 $shadow;
      }
    }
  }

  // * Input section.
  [class^="channelTextArea"] {
    border-top-color: $dark;
    // Input container.
    > [class^="inner"] { colors: 0, 0, $darker; }
    // Input text color.
    textarea { colors: $light, 0, 0; }
    // Dividers.
    [class*="divider"], [class*="Divider"] { colors: 0, 0, $shadow; }
    // ? Emojis, mentions, commands popout.
    [class*="autocomplete-"][class*="autocomplete-"] {
      colors: 0, 0, $darker;
      box-shadow: 0 1px 0 0px $shadow;
      [class*="autocompleteInner-"] {
        border: none !important;
        // Command mode icons.
        [class*="iconForeground"] { fill: $icon; }
        // Title/description selectors.
        [class*="Title"], [class*="description"] { colors: $lighter, 0, 0; }
        [class*="contentTitle"] strong { colors: $light, 0, 0; }
        // Main content.
        [class*="content-"] { colors: $light, 0, 0; }
        [class*="selectorSelected-"] { colors: 0, 0, $dark; }
      }
    }
  }

  // * Embeds.
  [class^="embedInner"] {
    colors: $light, $shadow, $darker;
    // Descriptions and such.
    [class*="Provider-"], [class*="Description-"] {
      colors: $lighter, 0, 0;
      a { colors: $accent, 0, 0; }
    }
    // Fields.
    [class*="Field-"] {
      [class*="FieldName-"] { colors: $light, 0, 0; }
      [class*="FieldValue-"] { colors: $lighter, 0, 0; }
    }
    // Titles.
    [class*="Title-"], [class*="AuthorName-"] { colors: $light, 0, 0; }
    // Links.
    [class*="TitleLink-"] { colors: $accent, 0, 0; }
  }
  // ? Left bar color; we don't want to overwrite it.
  // [class^="embedPill"] { colors: 0, 0, $accent; }

  // * Emote menu.
  [class*="emojiPicker-"] {
    colors: $red, $darker, $darker;
    box-shadow: 0 0 6px 0 var(--shadow);
    // Header.
    [class*="searchBar-"] {
      colors: 0, 0, $t; // not necessary?
      [class*="searchBarInner-"] { colors: $lighter, 0, $dark; }
      [class*="searchBarInner-"] input { colors: $light, 0, 0; }
    }
    // Frequently used.
    [class*="stickyHeader-"] { colors: 0, 0, $darker; }
    [class*="category-"], [class*="sadImage-"] + div { colors: $lighter, 0, 0; }
    // Selected emote.
    [class*="row-"] [class*="selected-"] { colors: 0, 0, $accent; }
    // Selected category.
    [class*="categories-"] [class*="selected-"] { colors: 0, $accent, 0; }
    // Dimmed overlay.
    [class*="visible-"]:not([class*="icon-"] ) {
      opacity: 0.8;
      colors: 0, 0, $darker;
    }
    // Diversity selector.
    [class*="popout-"] {
      padding: 2px;
      colors: 0, $dark, $darker;
    }
    // ? Fix scrollbar polyfill.
    [class*="scrollbar-"] > [class*="pad"] {
      left: -2px !important;
      colors: 0, 0, $darker;
    }
  }

  // * Store page.
  [class^="applicationStore-"] {
    colors: 0, 0, $dark;
    [class*="headerBar-"] {
      colors: 0, 0, $darker;
      box-shadow: 0 1px 0 0 $shadow;
      [class*="title-"] { colors: $light, 0, 0; }
    }
    // * Header.
    [class*="premiumApplicationsHeader-"],
    [class*="distributionApplicationsActions-"] {
      colors: $light, $darker, 0;
      [class*="viewAllGames-"] { colors: $light, 0, 0; }
      [class*="announcing"] { font-weight: bold !important; colors: $red, 0, 0; }
    }
    [class*="button-"][class*="lookOutlined-"][class*="colorWhite-"] {
      colors: $light, $darker, 0;
      &:hover { colors: 0, 0, $darker; }
    }
    // Links.
    [class*="announcing"] { colors: $accent, 0, 0; }
    [class*="tilePrice-"] {
      [class*="originalAmount-"] { colors: $lighter, 0, 0; }
    }
    // "First on Discord" deals.
    [class*="gameTitle-"] { colors: $light, 0, 0; }
    [class*="tagline-"] { colors: $lighter, 0, 0; }
    [class*="priceOSSection-"] { colors: $light, 0, 0; }
    // ? "First on Discord" cards.
    [class*="tileWrapper-"] {
      > [class*="tileMedia-"][class*="tile-"] {
        colors: 0, 0, $dark;
        &:hover { box-shadow: 0 9px 20px 0 $shadow; }
        > figure[class*="splashContainer-"] { colors: 0, 0, $t; }
        > dif[class*="mediaFade-"] {
          background: linear-gradient(180deg, $t 90%, $darker);
        }
        [class*="description-"] {
          background: linear-gradient(180deg, $t, $darker 45%, $darker);
        }
        [class*="tag-"] {
          background-image: linear-gradient(90deg, $accent, $darker);
          &::before { filter: grayscale(100%) opacity(0.2); }
        }
      }
    }
    // ? Other cards.
    [class*="applicationTile-"] {
      transition: background-color 0.2s ease, box-shadow 0.2s ease;
      &:hover { box-shadow: 0 9px 20px 0 $shadow; }
    }
  }

  // * Shared pages.
  [class^="activityFeed-"], [class^="gameLibrary-"] {
    colors: 0, 0, $dark;
    [class*="headerBar-"] {
      colors: 0, 0, $darker;
      box-shadow: 0 1px 0 0 $shadow !important;
      [class*="title-"] { colors: $light, 0, 0; }
    }
    [class*="emptyStateText-"] {
      [class*="Header-"] { colors: $light, 0, 0; }
      [class*="Description-"] { colors: $lighter, 0, 0; }
    }
  }

  // * Activity page.
  [class^="activityFeed-"] {
    [class*="card-"] {
      box-shadow: 0 2px 8px -1px $shadow;
      [class*="header-"] { colors: 0, 0, $dark; }
      [class*="cardBody-"] { colors: 0, 0, $darker; }
      // News, announcements, videos.
      [class*="news-"] {
        colors: 0, 0, $darker;
        [class*="title-"] { colors: $light, 0, 0; }
        [class*="subtitle-"], [class*="description-"] {
          opacity: 0.6;
          colors: $light, 0, 0;
        }
      }
      // Text colors.
      [class*="username-"] { colors: $light, 0, 0; }
      [class*="discriminator-"] { colors: $lighter, 0, 0; }
      [class*="Title-"], [class*="playTime-"] { colors: $lighter, 0, 0; }
    }
    [class*="title-"] { colors: $light, 0, 0; }
    [class*="article-"] {
      colors: 0, 0, $darker;
      [class*="background-"] {
        -webkit-mask: linear-gradient(0deg, $t, $dark 150%);
        mask: linear-gradient(0deg, $t, $dark 150%);
      }
    }
  }

  // * Tab bar.
  #friends .tab-bar {
    .tab-bar-item:not(.tab-bar-item-primary) {
      colors: $lighter, 0, 0;
      &.selected, &:hover { colors: $light, 0, $dark; }
    }
    .tab-bar-separator { colors: 0, 0, $shadow; }
  }

  // * Private channels.
  [class^="privateChannels-"] {
    // Headers.
    header { opacity: 0.5; colors: $light, 0, 0; }
    // Channel related styles.
    [class^="channel-"] {
      colors: $light, 0, 0;
      // Usernames.
      a, [class^="name-"] { colors: $lighter, 0, 0; }
      // ? Text opacity.
      [class^="name-"] { opacity: 0.6; }
      // On hover/select states.
      &:hover [class*="name-"],
      &[class*="selected-"] [class*="name-"] { opacity: 1; }
      // Activities.
      [class^="name-"] > [class^="activity"] { colors: $lighter, 0, 0; }
      [class*="activityText-"] { colors: $lighter, 0, 0; }
      // On hover/active state.
      &:hover a, &[class*="selected-"] a { colors: 0, 0, $dark; }
    }
    // ? Reset scroller padding so it takes less space.
    [class*="scrollerWrapPolyfill"] > [class^="scroller-"] {
      padding: 0 !important;
    }
  }

  // * Search results.
  [class*="searchResultsWrap-"] {
    colors: 0, 0, $darker;
    [class*="searchHeader-"] {
      colors: 0, 0, $darker;
      box-shadow: 0 1px 0 0 $shadow !important;
      // Text color.
      [class*="tab-"], [class*="totalResults-"] {
        opacity: 0.6;
        colors: $lighter, 0, 0;
      }
      [class*="tab-"][class*="selected-"] {
        opacity: 1;
        colors: $light, $accent, 0;
      }
    }
    [class*="resultsWrapper-"] {
      // Name and separator.
      [class*="channelSeparator-"] {
        &::before { colors: 0, $shadow, 0; }
        [class*="channelName-"] { colors: $lighter, 0, $darker; }
      }
      // Single result.
      [class*="searchResult-"] {
        // Remove unnecessary gradients.
        &::before, &::after { background: none !important; }
        // Matching message.
        [class*="hit"] {
          colors: 0, $shadow, $dark;
          box-shadow: 0 0 30px 6px $darker;
         }
      }
      // Pages.
      [class*="pagination-"] { colors: $lighter, 0, 0; }
    }
  }

  // * Gifted Nitro wrapper.
  [class*="applicationTile-"] {
    colors: 0, 0, $darker;
    box-shadow: 0 0 0 $shadow;
    [class*="description-"] {
      colors: $lighter, 0, 0;
      [class*="gameTitle-"] { colors: $light, 0, 0; }
      [class*="tagline-"], [class*="metadata-"] { colors: $lighter, 0, 0; }
    }
  }

  // * Code chunks
  .markup-2BOw-j code, .markup-2BOw-j code.inline {
    border-radius: $radius;
    colors: $light, 0, $darker;
    box-shadow: 2px 2px 8px 0 $shadow;
  }
  [class^="markup"] > pre { border: none !important; }
  .hljs {
    &-name, &-section, &-selector-class, &-selector-id, &-title {
      color: $blue !important;
    }
    &-attr, &-attribute, &-class , &-template-variable, &-type, &-variable {
      color: $orange !important;
    }
    &-built_in, &-deletion {
      color: $red !important;
    }
    &-doctag, &-literal, &-meta &-meta-string, &-number, &-regexp, &-string {
      color: $cyan !important;
    }
    &-addition, &-keyword, &-selector-tag {
      color: $green !important;
    }
    &-comment, &-quote {
      color: $light !important;
    }
  }

  // * QuickSwitcher.
  [class*="quickswitcher"] {
    colors: $light, 0, $dark;
    box-shadow: 0 8px 16px 0 $shadow;
    [class*="input"] {
      colors: $light, 0, $darker;
      box-shadow: 0 4px 8px 0 $shadow;
    }
    [class*="match"], [class*="header"] { colors: $accent, 0, 0; }
    [class*="header"], [class*="username"] { colors: $light, 0, 0; }
    [class*="tips"], [class*="content"], [class*="note"] { colors: $lighter, 0, 0; }
    [class*="icon"] { colors: $icon, 0, 0; }
  }

  // * Dropdown menus.
  [class^="menu"] {
    colors: $light, 0, $dark;
    [class^="item"] {
      colors: $light, 0, 0;
      &:hover { colors: $light, 0, $darker; }
    }
  }
  [class^="itemGroup"] {
    [class^="item"] {
    colors: $light, $dark, $dark;
    &:hover { colors: $light, 0, $darker; }
    }
  }
  [class^="contextMenu"] { colors: $light, $dark, $dark; box-shadow: $bshadow; }
  .checkbox .checkbox-inner input[type="checkbox"]:checked + span { colors: 0, $accent, $accent; }

  // * Mentions .
  [class^="messagesPopoutWrap"] {
    colors: $light, $shadow, $darker;
    [class^="header"]:not([class^="headerCozy"]) { colors: $light, $shadow, $darker; }
    [class^="messageGroupWrapper"] { colors: $light, $shadow, $dark; }
    [class^="jumpButton"] { colors: $light, $shadow, $t; }
    [class^="actionButtons"] { colors: $light, $shadow, $t; transition: none !important; box-shadow: none !important; }
  }

  // * Settings.
  [class*="standardSidebarView-"] {
    colors: 0, 0, $darker;
    // * Sidebar.
    [class^="sidebarRegion-"] {
      border-right: 1px solid;
      colors: $light, $shadow, $dark;
      [class^="header-"] { opacity: 0.5; colors: $lighter, 0, 0; }
      [class^="itemSelected-"] { colors: $light, 0, $accent; }
      [class*="itemDefault-"]:hover { colors: $light, 0, $darker; }
      [class^="itemDefault-"], [class^="itemHover-"] { colors: $lighter, 0, 0; }
    }
    // * Main content.
    [class^="contentRegion-"] {
      colors: $light, $shadow, $darker;
      // Text colors.
      [class*="titleDefault-"], [class*="title-"] { colors: $lighter, 0, 0; }
      [class*="description-"] { colors: $light, 0, 0; }
      [class*="divider-"] { colors: 0, 0, $shadow; }
      [class*="value-label-"] { colors: $light, 0, 0; }
    }
  }

  // * Emoji section.
  [class*="emojiRow-"] {
    &::before { colors: 0, $shadow, $dark; }
    // Text color.
    [class*="emojiAliasPlaceholder-"] {
      colors: $lighter, 0, 0;
      &::before, &::after { colors: $light, 0, 0; }
    }
    [class*="emojiRowText-"] { colors: $light, 0, 0; }
    // Input fields.
    input {
      transition: 0.2s ease !important;
      colors: $lighter, $darker, $dark;
      &:hover, &:focus { colors: $light, 0, $darker; }
    }
  }

  // * Cards.
  [class*="card-"]:not([class*="emojiRow-"]) {
    colors: 0, $shadow, $dark;
    [class*="title-"], [class*="primary-"] { colors: $light, 0, 0; }
    [class*="desc-"] { colors: $lighter, 0, 0; }
    [class*="anchor-"] { colors: $accent, 0, 0; }
    [class*="checkbox-"] {
      colors: 0, $darker, 0;
      &[class*="checked-"] { colors: 0, 0, $darker; }
    }
  }
  // * Username and such.
  [class*="cardPrimary-"] {
    colors: $light, $dark, $dark;
    input {
      colors: $light, $shadow, $shadow;
      &:focus { colors: 0, $accent, 0; }
    }
    [class*="viewBody-"] { colors: $light, 0, 0; }
  }
  [class*="faded"] { color: $light !important; opacity: .5; }
  [class*="colorPrimary"] { colors: $light, 0, 0; }

  // * Buttons.
  [class*="lookFilled"] {
    colors: $lighter, $accent, $accent;
    transition: all 0.15s ease-in-out;
    &[class*="colorGreen"] { colors: $light, $green, $green; }
    &[disabled] { colors: $light, $darker, $darker; }
    &:hover { opacity: 0.8 !important; }
  }

  // * Check slider.
  [class*="valueChecked"] { colors: $lighter, 0, $accent; }

  if hideCarousel {
    [class*="carousel"] { display: none !important; }
  }
  if hideNews {
    [class*="card"][class*="card"] {
      [class*="cardBody"] > div:last-child { display: none !important; }
    }
  }

  // * Deprecated elements.
  .form.deprecated {
    .header {
      colors: 0, 0, $dark;
      h1 { colors: $light, 0, 0; }
      input[type=text] {
        colors: $lighter, $darker, $darker;
        box-shadow: 0 2px 1px 0 $shadow !important;
      }
    }
    .form-inner { colors: 0, 0, $darker; }
    .footer { colors: $lighter, $shadow, $darker; }
    a { colors: $accent, 0, 0; }
  }
  // * Create/join another server.
  [class*="animator-"][class*="fixClipping-"] {
    colors: 0, 0, $t;
    [class*="modal-"][class*="slide-"][class*="size-"] {
      colors: 0, 0, $darker;
      box-shadow: 0 2px 8px -1px $shadow !important;
      [class*="action-"] {
        background: none !important;
        colors: 0, $shadow, $dark;
        box-shadow: 0 2px 8px 0 $shadow;
      }
      [class*="actionBody-"] { colors: $lighter, 0, 0; }
      [class*="or-"] { background-image: none !important; }
    }
  }

  // * Input bar max-height setting.
  [class*="channelTextArea-"] textarea[class*="textArea-"] {
    max-height: var(--textarea);
  }

  // * Padding-less cozy messages.
  // ? Removes excess top and bottom padding from cozy messagas.
  if paddingless_cozy {
    [class*="containerCozyBounded-"] {
      padding: 0;
      > [class*="messageCozy-"] { margin: 4px 0; }
      [class*="avatar-"] { margin-top: 0px; }
      [class*="divider"] { margin: 0 20px; }
    }
    // Mentions.
    [class*="messageGroupWrapperOffsetCorrection-"] {
      margin: -10px 0px -10px -20px !important;
    }
  }

  // * Compact cozy messages.
  // ? Kinda like compact mode but with avatars.
  if compact_cozy {
    [class*="containerCozyBounded-"] {
      padding: 0px 10px 0px 10px;
      // Fix divider.
      [class*="divider"] { margin: auto 10px !important; }
      // Avatars.
      [class*="avatar-"] {
        margin: 1px 4px 0 8px;
        height: auto; width: auto;
        [class*="image-"] { height: 16px; width: 16px; }
      }
      // Message content.
      [class*="contentCozy-"] {
        margin-left: 12px;
        // TODO Find a better separator.
        [class*="markup-"]::before { opacity: 0.25; content: "⤷ "; }
        // Big emoji!
        .emoji.jumboable { height: 1.35rem; width: 1.35rem; }
        // Reactions.
        [class*="reactions-"] { margin-top: 0; margin-left: 12px; }
      }
    }
    // Mentions.
    [class*="messageGroupWrapperOffsetCorrection-"] {
      margin: -5px 0px -5px -22px !important;
    }
  }

  // * Smaller guild icons.
  if mid_guilds {
    [class*="guildsWrapper-"] {
      width: 56px;
      // > [class*="scrollerWrap-"] { width: 80px; }
    }
    [class*="guilds-"] {
      padding: 8px;
      // Online friends and separators.
      [class*="friendsOnline-"], [class*="guildSeparator-"] {
        width: auto;
        max-width: 40px;
      }
    }
    // Main parent element.
    [class*="guild-"] {
      height: 40px;
      width: 40px;
      // Guild icons.
      [class*="guildInner-"] {
        height: 40px;
        width: 40px;
        a, a > [class*="guildIcon-"] {
          height: inherit !important;
          width: inherit !important;
        }
        // Guilds without icons.
        [class*="noIcon"] {
          line-height: 40px;
          colors: $lighter, 0, 0;
        }
      }
    }
  }
}
