/* ==UserStyle==
@name         Dark Discord
@namespace    gitlab.com/vednoc/dark-discord
@version      0.22.1
@description  Customizable dark theme for Discord.
@author       vednoc
@homepageURL  https://gitlab.com/vednoc/dark-discord
@supportURL   https://gitlab.com/vednoc/dark-discord/issues
@updateURL    https://gitlab.com/vednoc/dark-discord/raw/master/discord.user.styl
@preprocessor stylus

@var checkbox ic_invert "Icon inversion" 0
@var checkbox remove_notifications "Notification-free mode" 0
@var checkbox min_guilds "Minimize width of guild area" 0
@var checkbox mid_guilds "Small guild icons" 0
@var text guild_size "Small guild icons size" 40px
@var checkbox paddingless_cozy "Remove padding for cozy messages" 0
@var checkbox compact_cozy "Compact mode for cozy messages" 0
@var checkbox compact_lines "Compact mode visual lines" 0
@var checkbox msg_dividers "Chat: Enable message dividers" 1
@var checkbox unified_header "WIP: Make the header transparent" 0
@var checkbox disable_images "WIP: Disable images and show their links" 0
@var checkbox scrollbars_enabled "Always show scrollbar tracks" 0
@var checkbox scrollbars_chromium "Disable scrollbars in Chromium" 0
@var checkbox scrollbars_firefox "Disable scrollbars in Firefox" 0
@var checkbox msg_options "Highlight message by hovering over buttons" 0
@var checkbox code_ln "Enable code line numbers" 1
@var text code_font "Custom font for code blocks" "'custom_font', Consolas, Liberation Mono, Menlo, Courier, monospace"
@var text input_height "Input bar maximum height" 140px
@var text b_radius "Custom border radius" 4px

@var color dark    "Dark color.   " #222222
@var color darker  "Darker color. " #2f2f2f
@var color light   "Light color.  " #d1d1d1
@var color lighter "Lighter color." #c9c9c9
@var color icon    "Icon color.   " #e1e1e1
@var color accent  "Accent color. " #7289da
@var color yellow  "Yellow color. " #f0c674
@var color orange  "Orange color. " #de935f
@var color red     "Red color.    " #a54242
@var color magenta "Magenta color." #b294bb
@var color violet  "Violet color. " #85678f
@var color blue    "Blue color.   " #5f819d
@var color cyan    "Cyan color.   " #5e8d87
@var color green   "Green color.  " #8c9440
@var color white   "White color.  " #ffffff
@var color shadow  "Shadow color. " #00000020

==/UserStyle== */

@-moz-document domain("discordapp.com") {
  :root {
    --note    : "Dark-Discord v0.22.1";
    --dark    : dark;
    --darker  : darker;
    --light   : light;
    --lighter : lighter;
    --accent  : accent;
    --icon    : icon;
    --shadow  : shadow;
    --bshadow : 0 2px 3px 0 var(--shadow);
    --yellow  : yellow;
    --orange  : orange;
    --red     : red;
    --magenta : magenta;
    --violet  : violet;
    --blue    : blue;
    --cyan    : cyan;
    --green   : green;
    --white   : white;
    --t       : transparent !important;
    --radius  : b_radius;
    --textarea: input_height;
    --codearea: code_font;
    --icinvert: ic_invert;
  }

  // * Use stylus-lang variables with CSS variables.
  $dark    = var(--dark);
  $darker  = var(--darker);
  $light   = var(--light);
  $lighter = var(--lighter);
  $accent  = var(--accent);
  $icon    = var(--icon);
  $shadow  = var(--shadow);
  $bshadow = var(--box-shadow);
  $yellow  = var(--yellow);
  $orange  = var(--orange);
  $red     = var(--red);
  $magenta = var(--magenta);
  $violet  = var(--violet);
  $blue    = var(--blue);
  $cyan    = var(--cyan);
  $green   = var(--green);
  $white   = var(--white);
  $t       = var(--t);
  $radius  = var(--radius);

  // * Color mixin.
  // ? All colors -> colors: $light $darker $dark;
  // ? Only background-color -> colors: 0 0 $dark;
  colors(x, y, z) {
    if x is a 'call' { color: x !important; }
    if y is a 'call' { border-color: y !important; }
    if z is a 'call' { background-color: z !important; }
  }

  s(x, y = 0) {
    if x is a 'call' { fill: x !important }
    if y is a 'call' { stroke: y !important; }
  }

  // * Border radius mixin.
  radius() { border-radius: arguments; }

  // * Compact_lines helper mixins.
  line(x, y) {
    content: "";
    position: absolute;
    if x != false { border-left: 2px solid $darker; }
    if y != false { border-bottom: 2px solid $darker; }
  }
  size(w, h) {
    if w != 'boolean' { width: w; }
    if h != 'boolean' { height: h; }
  }
  nav(a, b, c, d) {
    if a != 'boolean' || a != 'null' { top: a; }
    if b != 'boolean' || b != 'null' { right: b; }
    if c != 'boolean' || c != 'null' { bottom: c; }
    if d != 'boolean' || d != 'null' { left: d; }
  }

  // * Login page.
  [class*="authBox-"] {
    colors: $lighter, $darker, $dark;
    box-shadow: 0 2px 10px 2px $shadow;
    [class*="title-"] { colors: $light 0 0 }
    [class*="subTitle-"] { colors: $lighter 0 0 }
    [class*="lookFilled-"] { colors: $white 0 $blue }
  }

  // * Icons -> Misc.
  [class*="mobileIndicator-"],
  [class*="addButtonIcon-"] polygon,
  svg path[class*="attachButtonPlus-"] {
    s: $lighter;
  }
  // * Icons -> User controls.
  [class*="Icon-"] {
    &[name="Gear"] path[fill] { s: $lighter }
    &[name*="Headset"], &[name*="Microphone"] {
      path[fill]:not([class*="red-"]) { s: $lighter }
      path[fill][class*="red-"] { s: $red }
    }
  }
  // * Icons -> Global.
  [class*="icon"] {
    // Base colors.
    path[fill="currentColor"],
    g[fill="currentColor"] > path,
    path[fill^="#FFF"] {
      s: $lighter
    }
    // Selected/active icons.
    &[class*="selected-"] path[fill] { s: $accent }
    // Muted channel.
    path[fill][class*="strikethrough-"] { s: $red }
    // Guild/DM owner.
    &[class*="ownerIcon-"] path { s: $orange }
    // Partnered guilds.
    svg[class*="flowerStar-"] {
      s: 0 $dark;
      path[fill] { s: $accent }
      + [class*="childContainer-"] path[fill] { s: $white }
    }
    // Nitro-Booster!
    &[class*="premiumIcon-"] path { s: $violet }
  }
  svg[class*="button"] path[stroke="#FFF"] { s: 0 $lighter }
  // Overflow icon in server members.
  [class*="overflowIconFg-"] { s: $lighter }
  // * Icons -> Non-svg mic/headphone/cogwheel reset.
  [class*="accountDetails-"] + div {
    > div, > button {
      radius: $radius;
      transition: 0.15s ease;
      &:hover { colors: 0, 0, $darker; }
    }
    // Image invert.
    [style*="/assets/"] {
      filter: hue-rotate(
        calc(var(--icinvert) * 180deg)
      ) invert(var(--icinvert)) !important;
      &:hover { colors: 0, 0, $t; }
    }
  }

  // * Userstyle version.
  [class*="userSettingsAccount"] > h2::after {
    content: " | Theme: " var(--note);
    text-transform: initial;
  }

  // * Global -> Browser defaults.
  ::placeholder, [class*="emptyPlaceholder"] { colors: $lighter, 0, 0; }
  ::selection { colors: $dark, 0, $lighter; }
  ::-moz-selection { colors: $dark, 0, $lighter; }

  // * Global -> Bot tags.
  [class*="botTag"] { colors: $white, 0, $accent; }

  // * Global -> Checkboxes.
  [class*="checkbox-"]:not([class*="wrapper" i]) {
    colors: 0, $dark, $darker;
    &[class*="checked-"] svg polyline { s: 0 $light }
    &[class*="round-"] {
      colors: 0, $darker, $dark;
      &[class*="checked-"] {
        colors: 0, $green, 0;
        svg polyline { s: 0 $green }
      }
    }
  }

  // * Global -> Switches.
  [class*="switch-"] {
    colors: 0, 0, $darker;
    box-shadow: 0 0 0 2px inset $darker !important;
    &::before { colors: 0, 0, $accent; }
    &::after {
      colors: 0, 0, $white;
      box-shadow: 0 2px 4px $shadow !important;
    }
    &[class*="valueChecked"] {
      colors: 0, 0, $accent;
      box-shadow: 0 0 0 2px inset $accent !important;
    }
  }

  // * Global -> Inputs.
  [class*="inputWrapper-"] {
    input, [class*="multiInput-"] {
      radius: $radius;
      colors: $light $darker $dark
      &:focus, &[class*="focused-"] { colors: 0 $accent 0 }
    }
    // Separator.
    [class*="multiInput"]::before {
      opacity: 1;
      colors: 0 $darker 0
    }
  }

  // * Global -> Notices.
  [class*="notice-"] {
    &[class*="noticeDefault-"] {
      colors: $white 0 $orange
      [class*="button"] {
        radius: $radius;
        colors: $white $white 0
        &:hover { colors: $orange 0 $white }
      }
    }
  }

  // * Global -> GDPR complience.
  [class*="gdprWrapper-"] {
    radius: $radius;
    colors: $lighter 0 $darker;
    [class*="header-"] { colors: $light 0 0 }
    [class*="lookInverted-"] { colors: $accent 0 $dark }
    [class*="anchor-"], [class*="lookLink-"] { colors: $lighter 0 0 }
  }

  // * No channel. (=
  [class*="noChannel-"] { colors: 0, 0, $dark; }

  // * Modal backdrop.
  [class^="backdrop"] {
    opacity: 0.80 !important;
    colors: 0, 0, $dark;
  }

  // * Chromium scrollbars.
  if not scrollbars_chromium {
    [class^="chat"], [class*="friends"] {
      ::-webkit-scrollbar {
        &-track { colors: 0, 0, $dark; }
        &-track-piece { colors: 0, $dark, $shadow; }
        &-thumb { colors: 0, $dark, $darker; }
      }
    }
    [class*="emojiPicker-"] {
      ::-webkit-scrollbar {
        &-track { colors: 0, 0, $dark; }
        &-track-piece { colors: 0, 0, 0; }
        &-thumb { colors: 0, $darker, $accent; }
      }
    }
  }

  // * Firefox scrollbar polyfill.
  if not scrollbars_firefox {
    // ? ChannelInfo/SearchResults/Activity/Store/Modals/Friends/Notifications
    // ? ActivityFeed/QuickSwitcher/Channels/Context/Chat.
    [class*="modal-"][class*="modal-"][class*="size-"],
    [class*="searchResultsWrap-"] > div:last-child,
    [class*="feed-"] +, [class*="Store-"] +,
    [class*="modal-"][class*="size"],
    [class*="friendsTableBody-"] +,
    [class*="messagesPopout-"] +,
    [class*="activityFeed-"],
    [class*="quickswitcher-"],
    [class*="scrollerFade-"] >,
    [class*="contextMenu-"],
    [class*="messages-"] + {
      [class^="scrollbar-"] {
        colors: 0, $t, $dark;
        [class^="track"] { colors: 0, $dark, $darker; }
        [class^="thumb"] { colors: 0, $dark, $accent; }
        [class^="pad"] { colors: 0, 0, $dark; }
      }
    }
    // ? Pinned/Notifications.
    [class*="sizeMedium-"] {
      [class*="scrollbar-"] {
        colors: 0, $t, $darker;
        [class^="track"] { colors: 0, $darker, $dark; }
        [class^="thumb"] { colors: 0, $darker, $accent; }
        [class^="pad"] { colors: 0, 0, $darker; }
      }
    }
    // ? Various hacks.
    [class*="scrollbar-"] {
      // ? Custom setting -> Always show scrollbar tracks.
      if ( scrollbars_enabled == 1 ) {
        > [class*="track-"] { opacity: 1 !important; }
      }
      // ? Hide 0px height thumb scrollbar thumb.
      > div[style*="height: 0px;"] { border-width: 0px !important; }
    }
    // ? Remove unnecessary padding throughout the app.
    [class*="systemPad-"] {
      &[class*="messages-"] {
        padding-right: 0px !important;
      }
    }
  }

  // * Dirty Firefox sidebar(s) hacks.
  @supports (-moz-user-select: none) {
    // .scrollerWrap-2lJEkd { margin-right: -24px !important; }
    [class*="directionColumn"][class*="firefoxFixScrollFlex"] { overflow: hidden; }
    // ? Fixes input element in *fox-based browsers.
    [class*="channelTextArea-"] textarea[class*="textArea-"] {
      margin: 0; padding: 0 10px;
      // ? Center input text on the first row of text.
      &[style*="height: auto"], &[style*="height: 21px"] {
        padding-top: 10px;
        margin: 1px 0 -3px;
      }
      // ? Reset padding whenever there are two or more rows of text.
      &:not([style*="height: auto"]) { padding: 10px; }
    }
  }

  // * Modals.
  [class*="modal-"] {
    &[class*="size"] {
      radius: $radius;
      colors: 0 0 $dark;
      box-shadow: 0 0 0 1px $darker, 0 4px 8px 0 $shadow;
      [class*="item-"] {
        radius: $radius;
        &[style*="114\, 137\, 218"] { colors: 0 $accent $accent }
      }
      [class*="reactors-"], [class*="sidebar-"] { colors: 0 0 $t }
    }
    // Default-ish colors.
    [class*="primary-"] { colors: $light, 0, 0; }
    [class*="titleDefault-"], [class*="h5-"] { colors: $light, 0, 0; }
    [class*="description-"], [class*="guildName-"] { colors: $lighter, 0, 0; }
    // Footer.
    [class*="footer-"] {
      colors: 0 0 $t;
      radius: 0 0 $radius $radius;
      box-shadow: inset 0 1px 0 0 $darker;
    }
    // Highlighted friends.
    [class*="friend-"] { colors: $light, 0, 0; }
    [class*="friendSelected-"] { colors: 0, 0, $dark; }
    .search-bar {
      colors: 0, 0, $t;
      &-inner { colors: 0, $shadow, $dark; }
      &-tag { colors: $lighter, 0, $darker; }
      input { colors: $light, 0, 0; }
    }
    // Text color.
    [class*="defaultColor"] { colors: $light, 0, 0; }
    [class*="Header"], [class*="header-"] { colors: $lighter, 0, 0; }
    // Spotify invitation.
    [class*="partyStatus"] {
      colors: $lighter, 0, 0;
      [class*="textLink"] { colors: $light, 0, 0; }
    }
    // ? Region select.
    [class*="regionSelectModal-"] {
      radius: $radius;
      colors: 0 0 $dark;
      box-shadow: 0 0 0 1px inset $darker, 0 2px 4px 0 $shadow;
      [class*="Option-"] {
        radius: $radius;
        colors: 0 $darker $dark;
        &:hover {
          colors: 0 $accent 0;
          box-shadow: 0 2px 4px 0 $shadow;
        }
        [class*="Flag-"] {
          colors: 0 0 $t;
          transition: 0.3s ease;
          box-shadow: 0 2px 4px 0 $shadow;
          ../:hover [class*="Flag-"] { transform: translateY(-4px) !important }
        }
        [class*="Name-"] { colors: $lighter 0 0 }
      }
      [class*="Footer-"] { colors: $lighter 0 0 }
    }
  }

  // * Upload modal.
  [class*="uploadModal-"] {
    colors: 0, 0, $dark;
    box-shadow: inset 0 0 0 2px $darker;
    [class*="inner-"] {
      colors: $lighter, $darker, 0;
      // Different file-types.
      [class*="file-"] [class*="icon-"] {
        &[class*="image-"] {
          colors: 0, $darker, $dark;
          box-shadow: 0 2px 8px 0 $shadow !important;
        }
        &[class*="unknown-"], &[class*="code-"],
        &[class*="document-"], &[class*="video-"] {
          filter: invert(0.8) hue-rotate(180deg);
        }
        // File title.
        + [class*="description"] { colors: $light, 0, 0; }
      }
    }
    // ? Controls.
    [class*="footer-"] {
      colors: 0, 0, $darker;
      box-shadow: inset 0 1px 0 0 $darker;
      [class*="label"] * { colors: $lighter, 0, 0; }
      // Cancel button.
      [class*="lookLink-"] {
        colors: $lighter, 0, 0;
        &:hover [class*="contents-"] {
          background-image: none;
          box-shadow: inset 0 -1px 0 0 $accent;
        }
      }
      // Upload button.
      [class*="lookInverted-"] {
        transition: 0.2s ease;
        colors: $lighter, 0, $dark;
        &:hover { filter: opacity(0.8); }
      }
    }
  }

  // * Channel info modal.
  [class*="inner-"] > [class*="modal-"][class*="size-"] {
    colors: $light, 0, $dark;
    box-shadow: 0 2px 4px -1px $shadow, 0 0 0 1px $darker;
    // Close icon.
    [class*="close-"] { color: $lighter, 0, 0; }
    // Text color.
    [class*="content-"] > [class*="primary-"] { color: $lighter, 0, 0; }
  }

  // * User modal.
  [class^="modal-"] > div > [class*="root"] {
    border-radius: $radius;
    colors: 0, 0, $dark;
    border: 1px solid $darker;
    box-shadow: 0 2px 4px 0 $shadow;

    [class*="header-"] > [class*="Info"] {
      [class*="username"] { colors: $light, 0, 0; }
      [class*="discriminator"] { colors: $lighter, 0, 0; }
      // Send message/request button.
      & + [class*="lookInverted"] {
        colors: $lighter, 0, $darker;
        transition: 0.15s ease;
        &:hover { colors: $accent, 0, 0; }
      }
    }
    [class*="topSection"] {
      colors: 0, 0, $t;
      [class*="headerFill-"] { colors: 0, 0, $t; }
      [class*="activityProfile-"] {
        border-top: 1px solid $darker;
        colors: 0, 0, $t;
        // Timestamps/secondary text.
        [class*="weight"], [class*="content-"] { colors: $lighter, 0, 0; }
        // Activities/header text.
        [class*="activityName-"], [class*="xtNormal-"] { colors: $light, 0, 0; }
        // Progress bar.
        [class*="bar-"] {
          colors: 0, 0, $darker;
          [class*="barInner-"] { colors: 0, 0, $accent; }
        }
        // Icons.
        [class*="listenAlongIcon-"] path { s: $lighter }
      }
      // Fake border.
      &::before {
        content: "";
        position: absolute;
        top: 0; right: 0; left: 0;
        border-radius: $radius $radius 0 0;
        border-top: $radius solid $t;
        // colors: 0, 0, $dark;
      }
    }
    // Various modes.
    [class*="Playing-"]::before { colors: 0, $blue, 0; }
    [class*="Spotify-"]::before { colors: 0, $green, 0; }
    [class*="Streaming-"]::before { colors: 0, $violet, 0; }
    [class*="Xbox-"]::before { colors: 0, $violet, 0; }

    // * Tab bar.
    [class^="tabBarContainer-"] {
      colors: 0 $darker $t;
      [class*="item-"] {
        transition: 0.15s ease;
        colors: $lighter 0 0;
        &:hover { colors: 0 $darker 0 }
        &[style*="color: rgb("] { colors: $light $accent 0 }
      }
    }
    // * Body.
    > [class*="body-"] {
      border-top: 1px solid $darker;
      colors: 0, 0, $t;
      // Text color.
      [class*="Info"] { colors: $lighter, 0, 0; }
      [class*="note"] > textarea {
        colors: $light, 0, 0;
        &:focus { colors: 0, 0, $darker; }
      }
      // ? Mutual servers/friends.
      [class*="listRow-"] {
        colors: $lighter, 0, 0;
        &:hover { colors: $light, 0, $darker; }
        [class*="guildNick-"] { colors: $lighter, 0, 0; }
        [class*="discriminator"] { colors: $light, 0, 0; }
      }
      // ? Reset misaligned elements due to Firefox polyfill.
      [class*="firefoxFixScrollFlex-"] {
        padding-right: 0px;
        [class*="userInfoSection-"] { margin-right: 16px; }
      }
    }
    // * Connected accounts.
    [class*="userInfoSection"] {
      colors: 0, $darker, 0;
      [class*="Accounts"] > [class*="Account"] {
        border-radius: $radius;
        colors: 0, $darker, $dark;
        &:hover [class*="AccountName"] { colors: $light, 0, 0; }
        [class*="AccountName"] {
          transition: 0.15s ease;
          colors: $lighter, 0, 0;
        }
      }
    }
  }

  // * Global -> Popouts.
  [class*="popouts-"] {
    colors: 0 0 $dark;
    > [class*="popout-" i] {
      radius: $radius;
      border: 1px solid;
      colors: 0 $darker $dark;
      box-shadow: 0 2px 8px 0 $shadow;
      > [class*="popout-" i] {
        radius: $radius;
        box-shadow: none;
        box-shadow: 0 2px 4px 0 $shadow;
      }
    }
    // * User/message status menus.
    [class^="menu-"], [role="menu"] {
      radius: $radius;
      colors: 0 0 $t;
      box-shadow: none;
      [class^="item"] {
        colors: $lighter 0 0;
        transition: 0.15s ease;
        &:hover { colors: $light 0 $darker }
        [class*="helper-"] { colors: $lighter 0 0 }
      }
    }
  }

  // * Popout menus.
  // ? For example: Spotify invitation/Upload a File/etc.
  [class*="popouts-"] [class*="attachPopout-"] {
    border-radius: $radius;
    colors: $light, 0, $dark;
    // Text color.
    [class*="RowText"] { colors: $lighter, 0, 0; }
    // On hover event.
    > [class*="attachPopoutRow"]:hover {
      colors: 0, 0, $darker;
      [class*="RowText"] { colors: $light, 0, 0; }
    }
  }

  // * Add role popout.
  [class*="popoutInvert-"], [class*="popoutBottom-"] {
    [class*="headerText-"] { colors: $light, 0, 0; }
    [class*="sectionTag-"] {
      colors: $lighter, 0, $t;
      [class*="selected-"] {
        background: linear-gradient(90deg, $t, $darker);
      }
    }
  }

  // * User popout.
  [class*="userPopout"] {
    // Username/discriminator colors.
    [class^="headerText-"] {
      [class*="Name"], .username { colors: $light, 0, 0; }
      [class*="Tag"], .discrimnator { colors: $lighter, 0, 0; }
    }
    // Various modes.
    [class*="header-"] {
      position: relative;
      border-radius: $radius $radius 0 0;
      colors: 0, 0, $t;
      [class*="lookOutlined-"] {
        colors: $lighter, $darker, 0;
        &:hover { colors: $light, 0, $darker; }
      }
      [class*="headerText-"], [class*="activityName-"] { colors: $light, 0, 0; }
      // Activity.
      [class*="activityUserPopout"] {
        border-top: 1px solid $darker;
        colors: 0, 0, $t;
        // Timestamps/secondary text.
        [class*="weight"] { colors: $lighter, 0, 0; }
        [class*="content-"] {
          &, [class*="details-"] { colors: $lighter, 0, 0; }
        }
        // Activities/header text.
        [class*="activityName-"], [class*="xtNormal-"] { colors: $light, 0, 0; }
        // Progress bar.
        [class*="bar-"] {
          colors: 0, 0, $darker;
          [class*="barInner-"] { colors: 0, 0, $accent; }
        }
        // Icons.
        [class*="listenAlongIcon-"] path { s: $lighter }
      }
      // Fake border.
      &::before {
        z-index: 0;
        content: "";
        position: absolute;
        top: 0; right: 0; left: 0;
        border-radius: $radius $radius 0 0;
        border-top: $radius solid $t;
        // colors: 0, 0, $dark;
      }
      &[class*="Playing-"]::before {
        colors: 0, $blue, 0;
      }
      &[class*="Spotify-"]::before {
        colors: 0, $green, 0;
      }
      &[class*="Streaming-"]::before {
        colors: 0, $violet, 0;
      }
      &[class*="Xbox-"]::before {
        colors: 0, $violet, 0;
      }
    }
    // * Body.
    > [class^="body-"] {
      border-top: 1px solid;
      colors: $lighter, $darker, $t;
      // Headers.
      [class*="bodyTitle"] { colors: $lighter, 0, 0; }
      // Add role button.
      [class*="actionButton"] {
        transition: 0.15s ease;
        colors: $lighter, $darker, $dark;
        &:hover { colors: 0, 0, $darker; }
      }
      // Note section.
      [class*="note"] > textarea {
        colors: $lighter, 0, 0;
        &:focus { colors: $light, 0, $darker; }
      }
    }
    // * Footer.
    > [class^="footer-"] {
      colors: $light, $darker, $t;
      // Wumpus!
      [class*="wumpusShown-"] [class*="wumpusTooltip-"] {
        colors: $lighter, 0, $dark;
        &::after { border-color: $t $dark $t $t; }
      }
      // Tip color.
      [class*="tip-"] {
        opacity: 1 !important;
        colors: $lighter 0 0;
      }
      // Message user.
      [class*="quickMessage"] { colors: $light, $darker, $dark; }
    }
  }

  // * User controls.
  [class^="channels"][class*="vertical"] {
    // VC status.
    > div {
      border-bottom: none;
      colors: 0 0 $t;
      &:nth-child(2) { box-shadow: 0 1px 0 0 inset $darker }
      [class*="status-connected"] { colors: $green 0 0 }
      [class*="status-connecting"] { colors: $orange 0 0 }
      [class*="status-error"] { colors: $red 0 0 }
      [class*="channel-"] {
        opacity: 1;
        colors: $lighter 0 0
      }
    }
    // Controls.
    > div:last-child {
      colors: $lighter 0 $t;
      box-shadow: 0 1px 0 0 inset $darker;
      button {
        radius: $radius;
        transition: 0.15s ease;
        &:hover { colors: 0 0 $darker }
      }
    }
  }

  // * User status.
  [class*="online-"] { colors: 0, $dark, $green; }
  [class*="idle-"] { colors: 0, $dark, $orange; }
  [class*="dnd-"] { colors: 0, $dark, $red; }
  [class*="offline-"] { colors: 0, $dark, 0; }
  [class*="invisible-"] { colors: 0, $dark, 0; }
  [class*="unknown-"] { colors: 0, $dark, 0; }

  // * Text status.
  [class*="statusGreen"], [style$="(67\, 181\, 129);"] { colors: $green, 0, 0; }
  [class*="statusOrange"], [style$="(250\, 166\, 26);"] { colors: $orange, 0, 0; }
  [class*="statusRed"], [style$="(240\, 71\, 71);"] { colors: $red, 0, 0; }
  [class*="statusYellow"] { colors: $yellow, 0, 0; }
  [class*="titleChecked"], [class*="descChecked"] { colors: $light, 0, 0; }

  // * Loading page.
  [class^="app"] > [style^="opacity"] {
    // Background.
    &[class*="fixClipping"] { colors: 0, 0, $dark; }
    // Text colors.
    [class^="quote-"] { colors: $light, 0, 0; }
    [class^="status-"] { colors: $lighter, 0, 0; }
    [class*="problems-"] {
      [class*="Text"] { colors: $lighter, 0, 0; }
      [class*="anchor"] { colors: $accent, 0, 0; }
    }
  }

  // * Skeleton/crashed page.
  [class*="appMount-"] > [class*="themeDark-"] {
    colors: 0, 0, $dark;
    [class*="text-"] > h4 { colors: $light, 0, 0; }
    [class*="note-"] { colors: $lighter, 0, 0; }
  }

  // ? All usernames except the ones that have custom colors.
  [class^="username"]:not([style^="color"]) { colors: $light 0 0 }
  // ? Discriminators.
  [class*="discriminator"] { colors: $lighter 0 0 }
  // ? Roles.
  [class^="nameTag"] {
    // ? Default no-role color in right sidebar.
    &:not([style^="color"]) { colors: $lighter, 0, 0; }
    // ? Inherit custom color in right sidebar.
    > [class*="username"] { color: inherit !important; }
  }

  // * Guilds.
  [class*="layer-"] > div[style="flex: 1 1 auto;"] > [class*="wrapper-"] {
    border-radius: 0px;
    border-right: 1px solid;
    colors: 0, $darker, $dark;
    [class*="separator-" i]{ colors: 0, 0, $darker; }
    // * Guild wrapper.
    [class*="listItem-"] {
      // ? Indicator -> New messages.
      [class*="pill-"] > [class*="item"] { colors: 0, 0, $lighter; }
      // ? Indicator -> Unread badges.
      [class*="numberBadge-"] { colors: $white, 0, $accent; }
      // Icons.
      a[href] > [class*="acronym-"], [class*="circleIconButton-"] {
        colors: $lighter, 0, $darker;
        box-shadow: 0 0 0 1px inset $darker;
      }
      // ? Home icon.
      &:first-child [class*="button-"] {
        colors: 0, 0, $darker;
        [class*="homeIcon"] { colors: $lighter, 0, 0; }
        &[class*="selected-"] [class*="homeIcon"] { colors: $accent, 0, 0; }
      }
    }
    [class*="unreadMentionsBar-"] {
      colors: $white, 0, $accent;
      box-shadow: 2px 2px 0 0 $darker;
      transition: 0.15s ease;
      svg { colors: $white, 0, 0; }
      &:hover { opacity: 0.8; }
    }
  }

  // * Feature -> Minimize width option.
  [class*="layer-"] > div[style="flex: 1 1 auto;"] > [class*="wrapper-"] {
    // * Minimize width of guild area.
    if min_guilds {
      transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
      transition-delay: 0.5s;
      max-width: 10px;
      &:hover { max-width: 70px; }
    }
  }

  // * Search results.
  [class*="popout-"] > [class*="container-"] {
    border-radius: $radius;
    colors: 0, 0, $dark;
    box-shadow: 0 0 0 1px $darker;
    // * "Search for" selector.
    > [class*="queryContainer-"] {
      colors: $light, $dark, $darker;
      // Text colors.
      [class*="queryText-"] { colors: $lighter, 0, 0; }
      [class*="queryText-"] strong { colors: $light, 0, 0; }
      // Shortcut button.
      [class*="queryShortcut-"] [class*="keybindShortcut-"] span {
        colors: $light, $dark, $darker;
        box-shadow: inset 0 -4px 0 $accent;
      }
    }
    // Text color.
    [class*="header-"] { colors: $lighter, 0, 0; }
    [class*="searchLearnMore-"] [class*="anchor-"],
    [class*="plusIcon-"] { colors: $lighter, 0, 0; }
    // * Items.
    [class*="option"] {
      // Remove gradient.
      &::after { display: none; }
      // On event.
      &:hover, &[class*="selected-"] { colors: 0, 0, $darker; }
      // Text color.
      > strong { colors: $accent, 0, 0; }
      [class*="filter-"] { colors: $light, 0, 0; }
      [class*="nonText-"] { colors: $lighter, 0, 0; }
      [class*="displayedNick-"] { colors: $light, 0, 0; }
      [class*="answer-"], [class*="displayUsername-"] {
        opacity: 0.6;
        colors: $lighter, 0, 0;
      }
      [class*="resultChannel-"] {
        strong { colors: $accent, 0, 0; }
        span, svg { colors: $lighter, 0, 0; }
      }
    }
  }

  // * Calendar.
  [class*="datePicker-"] > div > div {
    colors: $lighter, 0, $dark;
    [class*="__navigation"] { colors: 0, $darker, 0; }
    // * Month/year header.
    [class*="__header"] {
      colors: $lighter, 0, $t;
      [class*="__current-month"] { colors: $light, $darker, 0; }
      [class*="__day-name"] { colors: $lighter, 0, 0; }
    }
    // * Days.
    [aria-label^="day-"] {
      colors: $light, $darker, $dark;
      // ? Select *only* days that are in the past.
      &:hover:not([class*="disabled"]) { colors: $light, 0, $accent; }
    }
    [class*="__day--outside-month"], [class*="__day--disabled"] {
      opacity: 0.6;
      colors: $lighter, $darker, $darker;
    }
    [class*="__day--today"] {
      colors: $light, 0, 0;
      &::after { colors: 0, 0, $accent; }
    }
  }
  // * Hints.
  [class*="datePicker-"] [class*="datePickerHint-"] {
    margin: 0;
    padding: 20px;
    colors: 0, $dark, $darker;
    span { colors: $lighter, 0, 0; }
    [class*="hintValue-"] {
      padding: 0 4px;
      colors: $light, 0, $accent;
    }
  }

  // * Main area.
  [class*="base"] {
    // ? Make guild channels have transparent background.
    > [class*="spacer"] > [class*="channels"] > [class*="noWrap"] {
      colors: 0, 0, $t;
    }

    // * Friends list.
    [class*="friendsTable-"] {
      margin-top: 0px; // TODO Remove when fixed on upstream.
      colors: 0, 0, $dark;
      [class*="friendsTableHeader-"] {
        colors: 0, $darker, 0;
        [class*="friendsColumn-"] { colors: $lighter, 0, 0; }
        [class*="ColumnSeparator-"] { colors: 0, 0, $darker; }
      }
      [class*="friendsTableBody-"] {
        colors: 0, $shadow, 0;
        [class*="friendsColumn-"] { colors: $lighter, 0, 0; }
        [class*="statusText-"] { colors: $light, 0, 0; }
        [class*="noIcon-"] { colors: $light, 0, $darker; }
        [class*="friendsRow"] {
          padding: 8px;
          margin: 0 16px;
          border-color: $darker;
          &:hover {
            colors: 0, 0, $darker;
            box-shadow: 0 2px 4px -2px $shadow !important;
          }
        }
      }
    }

    // ? Friends -> Title-bar.
    [class*="channels-"] + [class*="container-"] > [class*="container-"] {
      colors: 0, 0, $dark;
      box-shadow: 0 1px 0 0 $darker !important;
      [class*="children-"] {
        &::after { display: none; }
        [class*="title-"] { colors: $light, 0, 0; }
        [class*="divider-"] { colors: 0, 0, $darker; }
        [class*="tabBar-"] {
          colors: 0 0 $t;
          [class*="item-"] {
            transition: 0.15s ease;
            &:not([class*="primary-"]):not([class*="selected-"]) {
              colors: $lighter 0 $t;
              &:hover { colors: $light 0 $darker }
            }
            &[class*="selected-"] { colors: $accent 0 $t }
            &[class*="primary-"] { colors: 0 0 $accent }
          }
        }
      }
    }

    // ? Global channels.
    [class*="channels"] {
      border-right: 1px solid;
      colors: 0, $darker, $dark;

      // ? Guild name/menu.
      [class*="hasDropdown-"] > [class*="header-"] {
        colors: $light, 0, 0;
        box-shadow: 0 1px 0 0 $darker;
        &:hover { colors: 0, 0, $darker; }
      }
      // ? Remove unnecessary shadow on notification bar.
      [class*="positionedContainer-"] > [class*="unread"] > div {
        box-shadow: none !important;
      }

      // Notices.
      [class*="channelNotice-"] {
        colors: 0, 0, $t;
        box-shadow: 0 -1px 0 0 inset $darker;
        [class*="message-"] {
          colors: $lighter, 0, 0;
          [class*="btn-"] {
            transition: 0.15s ease;
            colors: $lighter, $darker, $dark;
            &:hover { colors: $light, 0, $darker; }
          }
        }
      }

      // ? Guild mentions.
      [class*="mentionsBadge-"] > [class*="numberBadge-"],
      [class*="bar-"][class*="mention-"] {
        colors: $white 0 $accent;
      }

      // ? Channels.
      // Channel containers.
      [class*="containerDefault-"] {
        [class*="content-"] {
          opacity: 0.6;
          margin: 0 0 0 8px;
          border-radius: $radius;
        }
        // Defaults.
        [class*="name-"] { colors: $lighter, 0, 0; }
        // Highlight unread channels.
        [class*="unread-"] + [class*="content-"] { opacity: 0.9 !important; }
        // Unread messages.
        [class*="unread-"] { colors: 0, 0, $lighter; }
        // Collapsed containers.
        [class*="collapsed-"] {
          [class*="name-"] { colors: $lighter, 0, 0; }
          [class*="name-"]:hover { colors: $light, 0, 0; }
        }
        &:hover [class*="content-"], &[class*="selected-"] [class*="content-"] {
          opacity: 1;
          colors: 0, 0, $darker;
          [class*="name-"] { colors: $light, 0, 0; }
          svg path { s: $light }
        }
      }

      // ? Reset scroller padding so it takes less space.
      [class*="scrollerWrapPolyfill"] > [class^="scroller-"] {
        padding: 0 10px 0 0 !important;
      }
    }

    // * Guild members list.
    [class*="membersWrap-"] [class*="members-"] {
      border-left: 1px solid $darker;
      colors: 0, 0, $dark;
      [class*="membersGroup-"] { opacity: 0.8; colors: $light, 0, 0; }
      [class*="activityText-"] { colors: $lighter, 0, 0; }
      [class*="member-"] {
        margin: 1px 8px;
        border-radius: $radius;
        &[class*="-open"], &:hover {
          [class*="content-"] { colors: 0, 0, $darker; }
          [class*="status-"] { colors: 0, $darker, 0; }
        }
      }
    }

    // * Search bar.
    [class*="privateChannels-"] > [class*="searchBar-"] {
      box-shadow: 0 1px 0 0 $darker;
      // The actual search bar.
      [class*="searchBarComponent-"] {
        colors: 0, $darker, $t;
        input { colors: $light, 0, 0; }
      }
    }

    // * Search bar in guilds, groups and DMs.
    [class*="search-"] {
      > [class*="searchBar-"] {
        width: auto;
        min-width: 144px;
        border-radius: $radius;
        transition: min-width 0.2s ease-in-out 0.1s;
      }
      // ? On event.
      &[class*="focused"] {
        > [class*="searchBar-"][class*="searchBar-"] {
          min-width: 240px;
          colors: 0, 0, $dark;
          box-shadow: 0 2px 4px -2px $shadow, 0 0 0 1px inset $darker;
        }
      }
      // ? Some magic for placeholder text.
      [class*="Placeholder"]:not([class*="hasFocus"]) {
        opacity: 0.6;
        colors: $lighter, 0, 0;
      }
      & + [class*="divider-"] {
        opacity: 0.2;
        colors: 0, 0, $lighter;
      }
    }

    // * Chat section.
    [class*="chat"] {
      colors: 0, 0, $dark;

      // ? Channel title-bar.
      > [class*="title"] {
        colors: 0, 0, $dark;
        box-shadow: 0 1px 0 0 $darker !important;
        [class*="title-"] { colors: $light, 0, 0; }
        [class*="topic-"] { colors: $lighter, 0, 0; }
        // Remove wrapper gradient.
        [class*="children-"]::after { display: none; }
        // Nicknames.
        [class*="akaBadge-"] {
          colors: $light, 0, $darker;
          box-shadow: 0 2px 4px -1px $shadow;
        }
        [class*="nicknames-"] { colors: $lighter, 0, 0; }
        [class*="divider-"], [class*="topic"]::before { colors: 0, 0, $darker; }
      }

      // ? Title-bar search messages.
      [class*="search-"] [class*="searchBar-"] {
        colors: $lighter, 0, $dark;
        box-shadow: inset 0 0 0 1px $darker;
        // Input text color.
        [class*="DraftEditor-"] {
          colors: $lighter, 0, 0;
        }
        // Blocks.
        [class*="searchFilter-"], [class*="searchAnswer"] {
          colors: $light, 0, $darker;
        }
        [class*="searchFilter-"] { radius: $radius 0 0 $radius }
        [class*="searchAnswer-"] { radius: 0 $radius $radius 0 }
      }

      // ? Group DM header.
      [class*="groupDM-"] [class*="input-"] {
        colors: $light, 0, 0;
        input[class*="input-"]:focus { colors: 0, 0, $dark; }
      }

      // ? Welcome section.
      [class*="welcomeMessage-"] {
        position: relative;
        h1, strong { colors: $light, 0, 0; }
        p { colors: $lighter, 0, 0; }
        a { colors: $accent, 0, 0; }
        [class*="base-"] {
          filter: invert(
            calc((1 + var(--icinvert)) * var(--icinvert))
          ) !important;
          colors: 0, $t, 0;
        }
        &::after {
          content: "";
          position: absolute;
          right: 20px; bottom: 20px; left: 20px;
          border-bottom: 1px solid $darker;
        }
      }

      // ? Load more messages bar.
      [class*="hasMore-"] button {
        colors: $lighter, $darker, $darker;
        box-shadow: 0 2px 8px -2px $shadow;
        transition: 0.2s ease;
        &:hover {
          colors: $light, 0, 0;
          box-shadow: 0 4px 8px 0px $shadow;
        }
      }

      // ? New messages.
      [class*="newMessagesBar-"] {
        background-image: linear-gradient(90deg, $darker, $accent 300%);
        colors: $lighter, 0, $t;
        button {
          transition: 0.15s ease;
          colors: $lighter, 0, 0;
          &:hover { colors: $light, 0, 0; }
        }
      }

      // * Spinners.
      [class*="spinner-"] {
        // Loading messages.
        [class*="wanderingCubesItem-"] { colors: 0, 0, $accent; }
        // Someone is typing.
        [class*="pulsingEllipsisItem-"] { colors: 0, 0, $light; }
      }

      // ? Transparentize extra elements.
      // ! Careful with this; might need to be removed.
      > div {
        colors: 0, 0, $t;
        // ? Messages/input form container.
        [class^="messagesWrapper"] {
          colors: 0, 0, $t;
          & + form { colors: 0, 0, $t; }

          // ? LocalBot messages.
          [class*="isLocalBot-"] {
            colors: $lighter, $green, $dark;
            background-image: linear-gradient(60deg, $t 50%, $darker);
            box-shadow: 0 0 0 1px $darker;
            [class*="localBotMessage-"] a { colors: $accent, 0, 0; }
          }
        }
        // ? Group welcome message.
        [class*="messages-"] [class*="default-"] h1 {
          colors: $lighter, 0, 0;
          strong { colors: $light, 0, 0; }
        }
        // ? Guild/group user greeters.
        [class*="container-"] > [class*="content-"] {
          colors: $lighter, 0, 0;
          a {
            font-weight: bold;
            colors: $light, 0, 0;
          }
          time {
            opacity: 0.6;
            colors: $lighter, 0, 0;
          }
        }
      }

      // * Messages.
      [class*="message-"] {
        // ? Style all but the ones that don't have OnHover class.
        [class*="timestampCompact"]:not([class*="OnHover"]) {
          opacity: 0.5;
          colors: $lighter, 0, 0;
        }
        // ? Apply styles regardless of class on every hover event.
        &:hover [class*="timestampCompact"] {
          opacity: 1;
          colors: $light, 0, 0;
        }
        [class*="timestampCozy-"] {
          opacity: 0.5;
          colors: $light, 0, 0;
        }
        [class*="edited-"] { colors: $lighter, 0, 0; }
        [class^="markup-"] {
          colors: $light, 0, 0;
          a { colors: $accent, 0, 0; }
          // ? Spoilers.
          [class*="spoilerText-"] {
            position: relative;
            radius: $radius;
            colors: 0 0 $t;
            &::before {
              z-index: -1;
              content: "";
              nav: 0 0 0 0;
              radius: $radius;
              position: absolute;
              colors: 0 0 $darker;
              opacity: 0.3;
            }
            &[class*="hidden-"] {
              radius: $radius;
              transition: 0.15s ease;
              colors: 0 0 $darker;
              &:hover { opacity: 0.8 }
            }
          }
        }
        [class*="operations"] {
          colors: $lighter, 0, 0;
          a { colors: $light, 0, 0; }
        }

        // ? Reactions.
        [class*="reactions-"] > [class*="reaction-"] {
          colors: 0, 0, $darker;
          &[class*="reactionMe-"] {
            background-image: linear-gradient(90deg, $accent -200%, $t 300%);
            [class*="reactionCount-"] { colors: $light, 0, 0; }
          }
          [class*="reactionCount-"] { colors: $lighter, 0, 0; }
        }

        // ? Message separators; sibling of message-* selectors.
        if msg_options {
          [class*="buttonContainer"]:hover + [class^="markup"] {
            colors: 0, 0, $darker;
          }
        }
      }

      // * Mentions.
      [class*="markup-"] {
        [class*="wrapper-"][class*="wrapperHover-"] {
          transition: 0.15s ease;
          position: relative;
          radius: 3px;
          colors: $accent 0 $t;
          &::before {
            content: "";
            nav: 0 0 0 0;
            opacity: 0.15;
            position: absolute;
            radius: 3px;
            colors: 0 0 $accent;
          }
          &:hover { colors: $white 0 $accent }
        }
      }

      // * Mention bar.
      [class*="isMentioned"] {
        position: relative;
        colors: 0, 0, $t;
        &::before {
          opacity: 0.2;
          z-index: -1;
          content: ""; position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          border-radius: 0 3px 3px 0;
          colors: 0, 0, $accent;
        }
        &::after {
          opacity: 0.6;
          left: -4px;
          colors: 0, $accent, $t;
        }
      }

      // ? Message dividers.
      [class*="divider-"] {
        // * Feature -> Enable message dividers.
        if ( msg_dividers != 1 ) { colors: 0 $t 0 }
        // Base styles.
        > [class*="dividerContent-"] {
          line-height: 10px;
          colors: $lighter, 0, 0;
          &::before, &::after { colors: 0, $darker, 0; }
        }
        // New messages.
        &[class*="dividerRed-"] > [class*="Content-"] {
          colors: $red, 0, 0;
          &::before, &::after { colors: 0, $red, 0; }
        }
      }

      // * Invite embed.
      [class*="wrapper-"][class*="userSelectNone"] {
        radius: $radius;
        colors: 0, $darker, $dark;
        box-shadow: 0 2px 4px -1px $shadow;
        [class*="title-"], [class*="guildDetail-"] { colors: $lighter, 0, 0; }
        [class*="guildName-"] { colors: $light, 0, 0; }
        [class*="guildNameExpired-"] { colors: $red, 0, 0; }
        [class*="statusOnline-"] { colors: 0, 0, $green; }
        [class*="statusOffline-"] { colors: 0, 0, $darker; }
        [class*="lookOutlined-"] { colors: 0, $darker, 0; }
        [class*="lookOutlined-"]:hover { colors: 0, $darker, $darker; }
      }

      // * Spotify party invite.
      [class*="invite-"][class*="container-"] {
        radius: $radius;
        colors: 0, $darker, $dark;
        [class*="coverImaageWrapper-"] { border-radius: 0 $radius $radius 0; }
        [class*="helpIcon-"] { colors: 0, 0, $darker; }
        [class*="header-"] { colors: $lighter, 0, 0; }
        [class*="partyStatus-"], [class*="textLink-"] { colors: $light, 0, 0; }
      }

      // * Typing section.
      [class^="typing"] {
        colors: $light, 0, $t;
        [class^="text"], [class^="cooldownWrapper"] { colors: $lighter, 0, 0; }
        [class^="text"] strong { colors: $light, 0, 0; }
      }

      // * Voice/video calls.
      [class^="video"] {
        colors: 0, 0, $dark;
        box-shadow: 0 8px 16px 0 $shadow;
      }
    }
  }

  // * Input section.
  [class^="channelTextArea"] {
    colors: 0, $darker, 0;
    // Input container.
    > [class^="inner"] {
      colors: 0, 0, $dark;
      border-radius: $radius;
      border: 1px solid $darker;
      &[class*="innerAutocomplete-"] { border-radius: 0 0 $radius $radius; }
    }
    // Input text color.
    textarea { colors: $light, 0, 0; }
    // Dividers.
    [class*="divider"], [class*="Divider"] { colors: 0, 0, $darker; }
    // ? Emojis, mentions, commands popout.
    [class*="autocomplete-"][class*="autocomplete-"] {
      margin-bottom: -1px;
      colors: 0, 0, $dark;
      border-radius: $radius $radius 0 0;
      box-shadow: 0 0px 0 1px $darker;
      [class*="autocompleteInner-"] {
        border: none !important;
        // Command mode icons.
        [class*="iconForeground"] { s: $icon }
        // Title/description selectors.
        [class*="Title"], [class*="description"] { colors: $lighter, 0, 0; }
        [class*="contentTitle"] strong { colors: $light, 0, 0; }
        // Main content.
        [class*="content-"] { colors: $light, 0, 0; }
        [class*="selectorSelected-"] { colors: 0, 0, $darker; }
      }
    }
  }

  // * Embeds.
  [class^="embedInner"] {
    radius: 0 $radius $radius 0;
    colors: $light $darker $dark;
    // Descriptions and such.
    [class*="Provider-"], [class*="Description-"] {
      colors: $lighter, 0, 0;
      a { colors: $accent, 0, 0; }
    }
    // Fields.
    [class*="Field-"] {
      [class*="FieldName-"] { colors: $light, 0, 0; }
      [class*="FieldValue-"] { colors: $lighter, 0, 0; }
    }
    // Titles.
    [class*="Title-"], [class*="AuthorName-"] { colors: $light, 0, 0; }
    // Links.
    [class*="TitleLink-"] { colors: $accent, 0, 0; }
  }
  // ? Left bar color; we don't want to overwrite it.
  [class*="embedPill-"] {
    radius: $radius 0 0 $radius;
    &[style*="rgb(255\, 255\, 255)"] { colors: 0 0 $lighter }
    &[style*="rgb(255\, 0\, 0)"] { colors: 0 0 $red }
  }

  // * Emote menu.
  [class*="emojiPicker-"] {
    radius: $radius;
    border-width: 0px;
    colors: $lighter, $darker, $dark;
    box-shadow: 0 2px 4px -1 $shadow;
    // Header.
    [class*="header-"] {
      colors: 0, $darker, 0;
      input { colors: $light 0 0 }
      [class*="searchBar-"] { colors: 0 0 $t }
    }
    // Frequently used.
    [class*="stickyHeader-"] { colors: 0, 0, $dark; }
    [class*="category-"], [class*="sadImage-"] + div { colors: $lighter, 0, 0; }
    // Selected emote.
    [class*="row-"] [class*="selected-"] { colors: 0, 0, $accent; }
    // Selected category.
    [class*="categories-"] {
      [class*="item-"] {
        &[class*="selected-"] { colors: 0 $accent 0 }
        &:hover { colors: 0 $darker 0 }
      }
    }
    // Dimmed overlay.
    [class*="visible-"]:not([class*="icon-"] ) {
      opacity: 0.8;
      colors: 0, 0, $dark;
    }
    // Diversity selector.
    [class*="popout-"] {
      padding: 2px;
      colors: 0, $darker, $dark;
      box-shadow: 0 2px 4px -1px $shadow;
      [class*="item-"]:hover { colors: 0, 0, $darker; }
    }
    // ? Fix scrollbar polyfill.
    [class*="scrollbar-"] > [class*="pad"] {
      left: -2px !important;
      colors: 0, 0, $dark;
    }
    // ? Fix 'no matching emoji' image.
    [class*="sadImage-"] {
      filter: invert(calc((var(--icinvert)) + 0.8)) !important;
    }
  }

  // * Store page.
  [class^="applicationStore-"] {
    colors: 0, 0, $dark;
    [class*="headerBar-"] {
      colors: 0, 0, $dark;
      box-shadow: 0 1px 0 0 $darker;
      [class*="title-"] { colors: $light, 0, 0; }
    }
    // * Header.
    [class*="premiumApplicationsHeader-"],
    [class*="distributionApplicationsActions-"] {
      colors: $light, $darker, 0;
      [class*="viewAllGames-"] { colors: $light, 0, 0; }
      [class*="announcing"] { font-weight: bold !important; colors: $red, 0, 0; }
    }
    [class*="button-"][class*="lookOutlined-"][class*="colorWhite-"] {
      colors: $light, $darker, 0;
      &:hover { colors: 0, 0, $darker; }
    }
    // Links.
    [class*="announcing"] { colors: $accent, 0, 0; }
    [class*="tilePrice-"] {
      [class*="originalAmount-"] { colors: $lighter, 0, 0; }
    }
    // "First on Discord" deals.
    [class*="gameTitle-"] { colors: $light, 0, 0; }
    [class*="tagline-"] { colors: $lighter, 0, 0; }
    [class*="priceOSSection-"] { colors: $light, 0, 0; }
    // ? "First on Discord" cards.
    [class*="tileWrapper-"] {
      > [class*="tileMedia-"][class*="tile-"] {
        colors: 0, 0, $dark;
        &:hover { box-shadow: 0 9px 20px 0 $shadow; }
        > figure[class*="splashContainer-"] { colors: 0, 0, $t; }
        > dif[class*="mediaFade-"] {
          background: linear-gradient(180deg, $t 90%, $darker);
        }
        [class*="description-"] {
          background: linear-gradient(180deg, $t, $darker 45%, $darker);
        }
        [class*="tag-"] {
          background-image: linear-gradient(90deg, $accent, $darker);
          &::before { filter: grayscale(100%) opacity(0.2); }
        }
      }
    }
    // ? Other cards.
    [class*="applicationTile-"] {
      transition: background-color 0.2s ease, box-shadow 0.2s ease;
      &:hover { box-shadow: 0 9px 20px 0 $shadow; }
    }
  }

  // * Shared pages.
  [class^="activityFeed-"], [class^="gameLibrary-"] {
    colors: 0, 0, $dark;
    [class*="headerBar-"] {
      colors: 0, 0, $dark;
      box-shadow: 0 1px 0 0 $darker !important;
      [class*="title-"] { colors: $light, 0, 0; }
    }
    [class*="emptyStateText-"] {
      [class*="Header-"] { colors: $light, 0, 0; }
      [class*="Description-"] { colors: $lighter, 0, 0; }
    }
  }

  // * Activity page.
  [class^="activityFeed-"] {
    // Title-bar.
    [class*="container-"] {
      colors: $lighter $darker $dark;
      box-shadow: 0 1px 0 0 $darker;
      [class*="children-"] {
        &::after { background: none }
        [class*="title-"] { colors: $light 0 0 }
      }
    }
    // Content.
    div[class*="card-"][class*="card"] {
      radius: $radius;
      colors: 0 0 $dark;
      box-shadow: 0 0 0 1px inset $darker;
      [class*="content-"] + [class*="wrapper-"] {
        box-shadow: 0 1px 0 0 inset $darker;
      }
      [class*="imageWrapper-"] { radius: $radius $radius 0 0; }
      [class*="coloredBackground-"] {
        colors: 0 0 $darker;
        background-image: url("/assets/0858a3392fd80f98d8957ad7c3e195d3.svg");
      }
      [class*="colorStandard-"] { colors: $light 0 0; }
      [class*="colorMuted-"] { colors: $lighter 0 0; }
      [class*="whiteButton-"] { color: $white 0 0; }
    }
    aside > [class*="wrapper-"] {
      radius: $radius;
      colors: 0 0 $dark;
      box-shadow: 0 0 0 1px inset $darker;
    }
  }

  // * Private channels.
  [class^="privateChannels-"] {
    // Headers.
    header {
      opacity: 1;
      colors: $lighter 0 0;
    }
    // Channel related styles.
    [class^="channel-"] {
      colors: $light, 0, 0;
      // Usernames.
      a[href] {
        border-radius: $radius;
        // Text colors.
        [class^="name-"] { &, > [class*="activity"] { colors: $lighter, 0, 0; }}
      }
      // ? Different states.
      &:hover, &:active, &[class*="selected-"] {
        a[href] {
          colors: 0 0 $darker;
          [class*="name-"] { colors: $light 0 0 }
          [class*="status-"] { colors: 0 $darker 0 }
        }
      }
    }
  }

  // * Search results.
  [class*="searchResultsWrap-"] {
    colors: 0 0 $dark;
    box-shadow: -1px 0 0 0 $darker;
    [class*="searchHeader-"] {
      colors: 0 0 $dark;
      box-shadow: 0 1px 0 0 $darker !important;
      // Text color.
      [class*="totalResults-"] {
        opacity: 1;
        colors: $light 0 0;
      }
      [class*="tab-"] {
        opacity: 1;
        colors: $lighter 0 0;
        &:hover, &[class*="selected-"] { colors: $light $accent 0 }
      }
    }
    [class*="resultsWrapper-"] {
      padding: 0 10px;
      // Name and separator.
      [class*="channelSeparator-"] {
        &::before { colors: 0 $darker 0 }
        [class*="channelName-"] { colors: $light 0 $dark }
      }
      // Single result.
      [class*="searchResult-"] {
        overflow: unset !important;
        &[class*="expanded-"] {
          border-radius: $radius;
          border-width: 1px;
          colors: 0 $darker 0;
          > div:last-of-type {
            border-top-width: 1px;
            border-radius: 0 0 $radius $radius !important;
          }
        }
        // Remove unnecessary gradients.
        &::before, &::after { background: none !important; }
        // Matching message.
        [class*="hit"] {
          border-width: 1px !important;
          colors: 0 $darker $dark;
          box-shadow: 0 2px 4px 0 $shadow;
          ../:not([class*="expanded-"]) [class*="hit"] { border-radius: $radius }
        }
        [class*="jumpButton-"] { colors: $light 0 $darker }
      }
      // Pages.
      [class*="pagination-"] {
        padding-bottom: 10px;
        colors: $lighter 0 0;
        > div[class] {
          filter: invert(
            calc((1 + var(--icinvert)) * var(--icinvert))
          ) !important;
        }
      }
    }
  }

  // * Gifted Nitro wrapper.
  [class*="applicationTile-"] {
    colors: 0, 0, $darker;
    box-shadow: 0 0 0 $shadow;
    [class*="description-"] {
      colors: $lighter, 0, 0;
      [class*="gameTitle-"] { colors: $light, 0, 0; }
      [class*="tagline-"], [class*="metadata-"] { colors: $lighter, 0, 0; }
    }
  }

  // * Code blocks.
  [class*="markup-"] {
    code {
      font-family: var(--codearea);
      &.inline { colors: 0 0 $darker }
    }
    pre {
      radius: $radius;
      colors: 0 $darker $dark;
      border-width: 1px !important;
      box-shadow: 0 2px 4px 0 $shadow;
      code {
        radius: $radius;
        colors: $light $t $t;

        // * Feature -> Code line numbers.
        if ( code_ln == 1 ) {
          position: relative;
          padding-left: 2.25em !important;
          &::before {
            width: 1em;
            opacity: 0.6;
            overflow-y: hidden;
            position: absolute;
            nav: 0.5em 0 0.5em 0;
            padding: 0 0.25em 0 1em;
            white-space: pre-line;
            text-align: right;
            colors: $light 0 0;
            content: '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99';
          }
        }
      }
    }
    // Syntax highlighting.
    .hljs {
      &-name, &-title, &-section { colors: $blue, 0, 0; }
      &-selector-class, &-selector-id { colors: $blue, 0, 0; }
      &-attr, &-attribute, &-type { colors: $orange, 0, 0; }
      &-class, &-template-variable, &-variable { colors: $orange, 0, 0; }
      &-built_in, &-deletion { colors: $red, 0, 0; }
      &-doctag, &-literal, &-meta &-meta-string { colors: $cyan, 0, 0; }
      &-number, &-regexp, &-string { colors: $cyan, 0, 0; }
      &-addition, &-keyword, &-selector-tag { colors: $green, 0, 0; }
      &-comment, &-quote { colors: $light, 0, 0; }
    }
  }

  // * QuickSwitcher.
  [class*="quickswitcher"] {
    colors: $light, 0, $dark;
    box-shadow: 0 4px 8px -2px $shadow, 0 0 0 1px inset $darker;
    [class*="input"] {
      padding: 16px;
      height: unset;
      line-height: unset;
      colors: $light, 0, $dark;
      box-shadow: 0 2px 4px -2px $shadow, 0 0 0 1px inset $darker;
      &:focus { box-shadow: 0 2px 8px -2px $shadow, 0 0 0 1px inset $accent; }
    }
    [class*="match"], [class*="header"] { colors: $accent, 0, 0; }
    [class*="header"], [class*="username"] { colors: $light, 0, 0; }
    [class*="tips"], [class*="content"], [class*="note"] { colors: $lighter, 0, 0; }
    [class*="icon"] { colors: $icon, 0, 0; }
    // Unread messages badge.
    [class*="badge-"] {
      colors: $dark, 0, $accent;
      box-shadow: 2px 2px 0 0 $darker;
    }
    // Highlighted channel.
    [class*="resultFocused-"] {
      border-radius: $radius;
      colors: 0, 0, $darker;
    }
    // Keybinds.
    [class*="keybindShortcut-"] span {
      colors: $lighter, $darker, $dark;
      box-shadow: inset 0 -4px 0 $darker;
      [class*="bindArrow-"] > g { s: $lighter }
    }
  }

  // * Context menu.
  [class*="contextMenu-"] {
    radius: $radius;
    colors: 0, 0, $dark;
    box-shadow: 0 2px 4px -1px $shadow, 0 0 0 1px $darker !important;
    [class*="itemGroup-"] {
      colors: 0, $darker, 0;
      [class*="item-"] {
        radius: 0;
        colors: $lighter, 0, 0;
        &:hover { colors: $accent, 0, $darker; }
      }
      // Reset child elements of item groups and sub-menus.
      &:first-child, [class*="itemSubMenu-"] {
        [class*="item-"]:first-child {
          margin-top: 0px;
          radius: $radius $radius 0 0;
        }
      }
      &:last-child, [class*="itemSubMenu-"] {
        [class*="item-"]:last-child {
          margin-bottom: 0px;
          radius: 0 0 $radius $radius;
        }
      }
    }
    // Fix scrolllbars.
    [class*="firefoxFixScrollFlex-"] {
      overflow-x: hidden;
      radius: $radius;
      // ! Ugh... Native scrollbars. )=
      [class*="scroller-"] + [class*="scrollbar-"] {
        // top: 1px; right: 1px; bottom: 1px;
        border-radius: 0 $radius $radius 0;
      }
    }
  }

  // * ReactSelect dropdown.
  .Select {
    &-control { colors: $lighter, $darker, $dark; }
    &-value-label { colors: $lighter, 0, 0; }
  }

  // * Mentions.
  [class*="messagesPopoutWrap-"] {
    width: auto;
    radius: $radius;
    border: none !important;
    colors: $light $darker $dark;
    [class^="header-"]:not([class^="headerCozy"]) {
      colors: 0 0 $t;
      box-shadow: 0 1px $darker;
      [class*="title-"] { colors: $light 0 0 }
      // ? Filters.
      [class*="mentionFilter-"] {
        [class*="label"] { colors: $lighter, 0, 0; }
        [class*="value-"] {
          colors: $light, 0, 0;
          font-weight: bold;
        }
      }
    }
    [class*="channelSeparator-"] {
      [class*="channel"] { colors: $light, 0, 0; }
      [class*="guild"] { colors: $lighter, 0, 0; }
    }
    [class^="messageGroupWrapper-"] {
      radius: $radius;
      colors: $light $darker $dark;
      box-shadow: 0 2px 4px 0 $shadow;
      > div[class] { margin: 0 0 0 -15px !important; }
      [class*="markup-"], [class*="embed"] {
        &::before, &::after { display: none }
      }
    }
    [class^="jumpButton"] { colors: $light, $t, $darker; }
    [class^="actionButtons"] {
      transition: none !important;
      colors: $light, $t, $t;
      box-shadow: none !important;
    }
    [class*="emptyPlaceholder-"] [class*="body-"] { colors: $lighter, 0, 0; }
    [class*="footer-"][class*="footer-"] {
      colors: 0 0 $t;
      box-shadow: inset 0 1px $darker;
      [class*="tip-"] {
        colors: $lighter 0 0;
        opacity: 1 !important;
      }
    }
  }

  // * Settings.
  [class*="standardSidebarView-"] {
    colors: 0, 0, $dark;
    // * Sidebar.
    [class*="sidebarRegion-"] {
      colors: $lighter 0 $t;
      [class*="separator-"] { colors: 0, 0, $darker; }
      [class*="header-"] { colors: $lighter 0 0 }
      // Menu items!
      [class*="item-"] {
        radius: $radius;
        transition: 0.15s ease;
        colors: $lighter, 0, 0;
        &[class*="selected-"] { colors: $white 0 $accent }
        &:hover:not([class*="selected-"]) { colors: $light 0 $darker }
        // Nitro.
        &[style*="rgb(114"] {
          colors: $blue 0 $t;
          &:hover { colors: $white 0 $blue }
        }
        // Logout.
        &[style*="rgb(240"] {
          colors: $red, 0, 0;
          &:hover { colors: $white 0 $red }
        }
      }
    }
    // * Main content.
    [class*="contentRegion-"] {
      colors: $light, 0, $dark;
      box-shadow: 1px 0 0 0 inset $darker;
      // Text colors.
      [class*="titleDefault-"], [class*="title-"] { colors: $lighter, 0, 0; }
      [class*="description-"] {
        colors: $light, 0, 0;
        [class*="anchor-"] { colors: $accent, 0, 0; }
      }
      [class*="divider-"] { colors: 0 $darker $t }
      [class*="value-label-"] { colors: $light, 0, 0; }
      // Buttons.
      [class*="removeButton-"] {
        colors: $lighter 0 0;
        &:hover { colors: $red 0 0 }
      }
      [class*="lookOutlined"][class*="White-"] {
        radius: $radius;
        colors: $lighter $darker $dark;
        &:hover { colors: $light 0 $darker }
      }
      // ? User info.
      [class*="userInfoViewing-"], [class*="userInfoEditing-"] {
        radius: $radius;
        colors: 0, $darker, $dark;
      }
      // ? Consent element.
      [class*="consent-"] {
        radius: $radius;
        colors: 0, $darker, $dark;
        box-shadow: 0 0 0 1px inset $darker;
        [class*="title-" i] { colors: $light, 0, 0; }
        [class*="body-" i] { colors: $lighter, 0, 0; }
      }
      // ? Select component.
      [class*="-control"] {
        colors: $lighter $darker $dark;
        div { color: inherit }
        + [class*="-menu"] {
          colors: 0 $darker $dark;
          box-shadow: 0 2px 4px 0 $shadow;
          span { colors: $lighter 0 0 }
          [class*="-option"]:hover, [class*="12o7ek3"] {
            colors: 0 0 $darker;
            span { colors: $light 0 0 }
          }
        }
      }
    }
    // * Close button.
    [class*="closeButton-"] {
      colors: 0, $darker, 0;
      transition: 0.2s ease;
      &:hover { colors: 0, 0, $darker; }
      path[fill*="#dcddde"] { s: $lighter }
      + [class*="keybind"] { colors: $lighter, 0, 0; }
    }
    // * Audit log.
    [class*="auditLog-"] {
      colors: $lighter, $darker, 0;
      // Different headers.
      [class*="headerClickable"] { colors: $lighter, 0, $dark; }
      [class*="headerExpanded"] { colors: $lighter, 0, $darker; }
      // Text colors.
      [class*="userHook-"] {
        strong, > span:first-child, { colors: $light, 0, 0; }
      }
      // Metadata.
      [class*="changeStr-"], [class*="timeWrap-"] {
        &, strong { colors: $light, 0, 0; }
      }
      // Discriminators and secondary text.
      [class*="discrim-"], [class*="timestamp-"] {
        opacity: 1;
        colors: $lighter, 0, 0;
      }
      // Colors.
      [class*="typeUpdate-"] { colors: $yellow, 0, 0; }
      [class*="typeCreate-"] { colors: $green, 0, 0; }
      [class*="typeDelete-"] { colors: $red, 0, 0; }
    }
    // Change server region.
    [class*="container-"][role="button"] {
      colors: 0 $darker $dark;
      [class*="name-"] { colors: $light 0 0 }
      [class*="button-"] {
        radius: $radius;
        &[class*="colorGrey-"] { colors: $lighter 0 $darker }
        ../ [class*="button-"] { colors: $light 0 $darker }
      }
    }
    // Confirm/reset the settings.
    [class*="elevationHigh-"] {
      &[style*="rgba(32"] {
        colors: 0 0 $darker;
        box-shadow: 0 2px 8px 0 $shadow;
        [style*="rgb(255"] { colors: $light 0 0 }
      }
      &[style*="rgba(24"] {
        colors: 0 0 $red;
        box-shadow: 0 2px 8px 0 $shadow;
        [style*="rgb(255"] { colors: $white 0 0 }
      }
    }
  }

  // * Emoji section.
  [class*="emojiRow-"] {
    &::before { colors: 0, $shadow, $dark; }
    // Text color.
    [class*="emojiAliasPlaceholder-"] {
      colors: $lighter, 0, 0;
      &::before, &::after { colors: $light, 0, 0; }
    }
    [class*="emojiRowText-"] { colors: $light, 0, 0; }
    // Input fields.
    input {
      transition: 0.2s ease !important;
      colors: $lighter, $darker, $dark;
      &:hover, &:focus { colors: $light, 0, $darker; }
    }
  }

  // * Cards.
  [class*="card-"]{
    colors: 0 $darker $darker;
    [class*="title-"], [class*="primary-"] { colors: $light, 0, 0; }
    [class*="desc-"] { colors: $lighter, 0, 0; }
    [class*="anchor-"] { colors: $accent, 0, 0; }
    [class*="checkbox-"] {
      colors: 0, $dark, 0;
      &[class*="checked-"] { colors: 0, 0, $dark; }
    }
    // Main cards.
    &[class*="cardPrimary"] {
      radius: $radius;
      colors: 0 $darker $dark;
      &[style*="114\, 137\, 218"] { colors: 0 $accent 0 }
    }
    // Colorized cards.
    // Various table elements.
    &[class*="member-"],
    &[class*="emojiRow-"],
    &[class*="sInviteRow-"],
    &[class*="bannedUser-"] {
      colors: 0 0 $t;
      [class*="name-"] { colors: $light 0 0 }
      [class*="tag-"], [class*="roleName-"] { colors: $lighter 0 0 }
      &::before {
        radius: $radius;
        colors: 0 $darker $darker;
        box-shadow: 0 2px 4px -2px $shadow;
      }
    }
  }
  // TODO: Rewrite/move this somewhere.
  [class*="faded"] { color: $light !important; opacity: .5; }
  [class*="colorPrimary"] { colors: $light, 0, 0; }

  // * Buttons.
  [class*="lookFilled"] {
    colors: $white, $accent, $accent;
    transition: all 0.15s ease-in-out;
    &[class*="colorGreen"] { colors: 0, $green, $green; }
    &[disabled] { colors: $light, $darker, $darker; }
    &:hover { opacity: 0.8 !important; }
  }

  // * Deprecated elements.
  .form.deprecated {
    .header {
      colors: 0, 0, $dark;
      h1 { colors: $light, 0, 0; }
      input[type=text] {
        colors: $lighter, $darker, $darker;
        box-shadow: 0 2px 1px 0 $shadow !important;
      }
    }
    .form-inner { colors: 0, 0, $darker; }
    .footer { colors: $lighter, $shadow, $darker; }
    a { colors: $accent, 0, 0; }
  }
  // * Create/join another server.
  [class*="animator-"][class*="fixClipping-"] {
    colors: 0, 0, $t;
    [class*="modal-"][class*="slide-"][class*="size-"] {
      colors: 0, 0, $darker;
      box-shadow: 0 2px 8px -1px $shadow !important;
      [class*="action-"] {
        background: none !important;
        colors: 0, $shadow, $dark;
        box-shadow: 0 2px 8px 0 $shadow;
      }
      [class*="actionBody-"] { colors: $lighter, 0, 0; }
      [class*="or-"] { background-image: none !important; }
    }
  }

  // * Input bar max-height setting.
  [class*="channelTextArea-"] textarea[class*="textArea-"] {
    max-height: var(--textarea);
  }

  // * Padding-less cozy messages.
  // ? Removes excess top and bottom padding from cozy messagas.
  if paddingless_cozy {
    [class*="containerCozyBounded-"] {
      padding: 0;
      > [class*="messageCozy-"] { margin: 4px 0; }
      [class*="avatar-"] { margin-top: 0px; }
      [class*="divider"] { margin: 0 20px; }
    }
    // Mentions.
    [class*="messageGroupWrapperOffsetCorrection-"] {
      margin: -10px 0px -10px -20px !important;
    }
  }

  // * Compact cozy messages.
  // ? Kinda like compact mode but with avatars.
  if compact_cozy {
    [class*="containerCozyBounded-"] {
      padding: 0px 10px 0px 10px;
      // Fix divider.
      [class*="divider"] { margin: auto 10px !important; }
      // Avatars.
      [class*="avatar-"] {
        margin: 1px 4px 0 8px;
        height: auto; width: auto;
        [class*="image-"] { height: 16px; width: 16px; }
      }
      // Message content.
      [class*="contentCozy-"] {
        margin-left: 12px;
        // Default message arrows.
        if not compact_lines {
          [class*="markup-"]::before {
            opacity: 0.25;
            content: "⤷ ";
          }
        }
        // Big emoji!
        .emoji.jumboable { height: 1.35rem; width: 1.35rem; }
        // Reactions.
        [class*="reactions-"] { margin-top: 0; margin-left: 12px; }
      }
    }
    // Mentions.
    [class*="messageGroupWrapperOffsetCorrection-"] {
      margin: -5px 0px -5px -22px !important;
    }
  }

  // * Feature -> Smaller guild icons.
  if mid_guilds {
    $size = guild_size;
    // ? Set the width of guilds wrapper.
    [class*="layer-"] > div[style="flex: 1 1 auto;"] > [class*="wrapper-"] {
      width: ($size + 20px);
      // ? Increase width to account for scrollbar polyfill.
      > [class*="wrap-" i] { width: ($size + 40px); }
      // Separators.
      [class*="separator-" i] { width: $size; }
      // Mentions bar.
      [class*="unreadMentionsIndicator"] {
        padding: 4px !important;
        [class*="bar-"] {
          width: ($size + 12px) !important;
        }
      }
    }
    // * Guilds wrapper.
    [class*="listItem-"] {
      justify-content: flex-start;
      padding-left: 10px;
      height: unset !important;
      width: unset !important;
      [class*="pill-"] {
        top: ($size / 6);
        [class*="item-"] {
          margin-left: -3px;
          // Hack for centering pill vertically.
          ../, &:not([style*="height: 8px"]) {
            height: ($size / 1.5) !important
          }
        }
      }
      // Home icon.
      &:first-child {
        &, [class*="Wrapper-"], svg {
          width: $size;
          height: $size;
        }
        svg[class*="homeIcon-"] { transform: scale(0.9) }
      }
      // Guild icons.
      [class*="blobContainer-"] {
        // margin-left: ($size / 18) !important;
        [class*="wrapper-"] {
          height: unset;
          width: unset;
        }
        &, [class*="wrapper"] > svg {
          width: $size;
          height: $size;
        }
      }
      // Circle/Error icons.
      [class*="circleButtonMask-"], [class*="guildsError-"] {
        &, [class*="svg-"] {
          width: $size;
          height: $size;
        }
      }
      [class*="guildsError-"] {
        colors: $light $red $dark
        &:hover { colors: $white 0 $red }
      }
      // Badges.
      [class*="badgeWrapper-"] {
        [class*="upperBadge-"] {
          radius: 20%;
          colors: 0 0 $dark;
        }
        [class*="lowerBadge-"] {
          right: -2px !important;
          top: ($size - 14px) !important;
        }
        // Unread messages.
        [class*="numberBadge-"],  {
          height: 14px !important;
          box-shadow: 0 0 0 2px $dark !important
        }
        // Voice chat.
        [class*="iconBadge-"] {
          colors: 0 0 $darker;
          box-shadow: 0 0 0 2px $dark !important
        }
      }
      // DM icons.
      ~ div[style] {
        margin-bottom: 8px;
        height: $size !important;
        [class*="svg-"] , div[class*="wrapper-"] {
          height: $size !important;
          width: $size !important;
        }
      }
    }
  }

  // * Replace images with their links.
  if disable_images {
    [class*="imageZoom-"] {
      height: auto !important;
      width: auto !important;
      &::after {
        color: $lighter;
        content: "URL: " attr(href);
      }
      img { display: none; }
    }
  }

  // * Unified header.
  if unified_header {
    // * Transparetinze title bar.
    [class*="base"] [class*="chat-"] > [class*="title-"] {
      colors: 0, 0, $t;
      box-shadow: 0 1px 0 0 $darker !important;
    }
    // ? Pseudo background for members section.
    [class*="searchResultsWrap-"]::before {
      content: "";
      position: absolute;
      top: -48px; right: 0; left: 0;
      height: 48px;
      colors: 0, 0, $darker;
    }
    // Fix upstream hidding the overflow.
    [class*="searchResultsWrap-"] { overflow: visible; }
    // ? Background should take over the header.
    // TODO: Move to a separate background option perhaps?
    [class*="content-"] > [class*="spacer-"][class*="vertical-"] {
      // overflow: visible;
      // Account for the height of the title bar.
      &::before { top: -50px; }
    }
  }

  // * Compact mode lines.
  if compact_lines {
    // Fix message buttons issues.
    [class*="buttonContainer-"] + [class*="markup-"] {
      margin-right: 46px;
    }
    [class*="containerCozyBounded-"] {
      // Avatars.
      [class*="avatar-"] {
        z-index: 1;
        box-shadow: 0 0 0 2px $darker;
        &:hover { opacity: 1; }
      }
      // Markup.
      [class*="markup-"] {
        position: relative;
        margin-left: 16px;
        // Straight line.
        &::before {
          nav: 0, false, -10px, -13px;
          line: true, false;
          // colors: 0, $red, 0;
        }
        // Curved line.
        &::after {
          size: 9px, 30px;
          nav: -20px, 0, 0, -13px;
          border-radius: 0 0 0 6px;
          line: true, true;
          // colors: 0, $cyan, 0;
        }
      }
      // Reset for the last pseudo elements.
      > div:nth-last-child(2) [class*="contentCozy-"] {
        // Reset markup and embeds.
        [class*="markup-"], [class*="embed-"] {
          &::before { colors: 0, $t, 0; }
          // &::after { colors: 0, $yellow, 0; }
        }
        // Reset your uploaded image.
        [class*="containerCozy-"] > a[class*="embed"]::before {
          display: none;
          // colors: 0, $red, 0;
        }
        // Reset extra server/gift embeds.
        [class*="containerCozy-"] > [class*="cursorDefault-"]::before {
          display: none;
          // colors: 0, $blue, 0;
        }
      }
      // Images/videos/embeds.
      [class*="containerCozy-"] > [class*="embed-"] {
        margin-left: 16px;
        margin-bottom: 8px;
        &::before {
          nav: 0, 0, -22px, -13px;
          line: true, false;
          // colors: 0, $orange, 0;
        }
      }
      // Your uploaded image embed.
      [class*="containerCozy-"] > a[class*="embed"] {
        overflow: visible;
        margin-left: 15px;
        border-radius: $radius;
        box-shadow: 0 0 0 1px inset $darker;
        // colors: 0, 0, $darker;
        &::before {
          nav: 0, 0, 0, -12px;
          line: true, false;
          // colors: 0, $green, 0;
        }
        img { border-radius: $radius; }
      }
      // Image you sent, no text.
      [class*="containerCozy"] > div[class*="imageWrapper-"] {
        margin-left: 15px;
      }
      // Spotify -> Embedded song.
      [class*="containerCozy"] > div[class*="embedSpotify-"] {
        position: relative;
        margin-left: 15px;
        &::before {
          nav: -20px, 0, 0px, -12px;
          line: true, false;
          colors: 0, $green, 0;
        }
      }
      // Spotify -> Reset visual lines on the last message.
      > [class*="messageCozy-"]:nth-last-child(2) [class*="embedSpotify-"]::before {
        display: none !important;
      }
      // Spotify -> Party invite.
      [class*="containerCozy-"] > [class*="invite-"] {
        position: relative;
        overflow: visible;
        margin-left: 16px;
        &::before {
          nav: 0, 0, 0px, -14px;
          line: true, false;
          // colors: 0, $red, 0;
        }
      }
      // Reactions.
      [class*="containerCozy"] > span[class*="reactions-"] {
        position: relative;
        margin-top: 8px;
        &::before {
          z-index: -1;
          nav: -10px, 0, 0px, -9px;
          line: true, false;
          // colors: 0, $cyan, 0;
        }
      }
      // Spoilers.
      [class*="containerCozy-"] > div[class*="spoilerContainer-"] {
        overflow: visible;
        margin-left: 15px;
        box-shadow: none !important;
        &::before {
          nav: 0, 0, 0, -12px;
          line: true, false;
          // colors: 0, $green, 0;
        }
        // Fix blur overflow.
        [aria-hidden] {
          overflow: hidden;
          border-radius: $radius;
          box-shadow: 2px 2px 4px 0 $shadow;
        }
      }
      // Remove visual lines from the very last message with spoiler.
      > div:nth-last-child(2) [class*="spoilerContainer-"]::before {
        display: none !important;
      }
      // Remove reaction's visual lines from the very last message.
      > [class*="messageCozy-"]:nth-last-child(2) [class*="invite-"]::before,
      > [class*="messageCozy-"]:nth-last-child(2) [class*="reactions"]::before {
        display: none !important;
      }
    }
    // Invites.
    [class*="containerCozy-"] > [class*="cursorDefault-"] {
      position: relative;
      margin-left: 16px;
      &::before {
        nav: -10px, false, 0, -14px;
        line: true, false;
        // colors: 0, $red, 0;
      }
    }
    // Gifts.
    [class*="content-"] > [class*="containerCozy-"][style*="position: relative;"] {
      margin-left: 16px;
      &::before {
        nav: 0, 0, 0px, -13px;
        line: true, false;
        // colors: 0, $red, 0;
      }
    }
  }

  // * Notification-free mode.
  if remove_notifications {
    [class*="wrapper-"] {
      // ? DMs/Mentions/Badges.
      [class*="friendsOnline-"] ~ [class*="container-"][style*="opacity"],
      [class*="unreadMentions"],
      [class*="container-"] [class*="badge-"] {
        display: none;
      }
    }
    [class*="unread-"] [class*="bar-"],
    [class*="contentUnread"] [class*="iconSpacing-"] {
      display: none;
    }
  }

}
